<!-- inject:js -->
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<!--<script src="js/vendor/jquery-1.11.1.min.js"></script>-->
<script src="js/vendor/lib/jquery.placeholder.min.js"></script>
<script src="js/vendor/lib/object-fit-polyfill.js"></script>
<script src="js/vendor/lib/respond.min.js"></script>
<!--<script src="js/vendor/lib/slick.min.js"></script>-->
<script>
    var revision = 11232917;
    var file = 'images/sprite.svg';
</script>
<script src="js/plugins.js"></script>
<script src="js/base.js"></script>
<script src="js/dev.js"></script>
<!-- endinject -->

<script src="js/common.js"></script>
 