<footer class="wrapper footer" id="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__info"><a class="footer__logo ico" href="/">
                    <svg class="icon icon-logo-white ">
                        <use xlink:href="img/sprite.svg#logo-white"></use>
                    </svg></a><a class="footer__insta ico" href="#">
                    <svg class="icon icon-ico-insta ">
                        <use xlink:href="img/sprite.svg#ico-insta"></use>
                    </svg></a><span class="footer__copy">© 2005-2019 ООО «‎Мэдитек»</span></div>
                <div class="footer__menu">
                    <div class="footer__menu-item"><a href="#">Широкоформатная печать</a><a href="#">Интерьерная печать</a><a href="#">Печать на пластике</a><a href="#">Мобильные стенды</a><a href="#">Планы эвакуации</a><a href="#">Фотообои</a></div>
                    <div class="footer__menu-item"><a href="#">Печать на стекле</a><a href="#">Печать на холсте</a><a href="#">Наклейки</a><a href="#">Флаги</a><a href="#">Печать на футболках</a></div>
                    <div class="footer__menu-item"><a href="#">Магазин</a><a href="#">Прайс-лист</a><a href="#">О компании</a><a href="#">Новости</a><a href="#">Наши работы</a><a href="#">Контакты</a></div>
                </div>
                <div class="footer__adress">
                    <div class="footer__adress-item">
                        <div class="footer__adress-row"><b>Тула</b><span>9:00-18:00</span></div>
                        <div class="footer__adress-row"><b>ул. Сойфера, 6</b></div>
                        <div class="footer__adress-row"><a href="tel:+74872311010"><b>+7 (4872) 31-10-10</b></a></div>
                    </div>
                    <div class="footer__adress-item">
                        <div class="footer__adress-row"><b>Москва</b><span>10:00-18:00</span></div>
                        <div class="footer__adress-row"><b>4-й Загородный пр-д, д. 16 (м. Крымская)</b></div>
                        <div class="footer__adress-row"><a href="tel:+74872555050"><b>+7 (4872) 55-50-50</b></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__line">
        <div class="container">
            <div class="footer__line-wrapper">
                <div class="footer__line-info">
                    <div class="footer__cards">
                        <div class="footer__mastercard ico">
                            <svg class="icon icon-card-mastercard ">
                                <use xlink:href="img/sprite.svg#card-mastercard"></use>
                            </svg>
                        </div>
                        <div class="footer__visa ico">
                            <svg class="icon icon-card-visa ">
                                <use xlink:href="img/sprite.svg#card-visa"></use>
                            </svg>
                        </div>
                        <div class="footer__mir ico">
                            <svg class="icon icon-card-mir ">
                                <use xlink:href="img/sprite.svg#card-mir"></use>
                            </svg>
                        </div>
                    </div><a class="footer__pay" href="#">Онлайн-оплата</a><a class="footer__tree ico" href="#">
                    <svg class="icon icon-ico-tree ">
                        <use xlink:href="img/sprite.svg#ico-tree"></use>
                    </svg></a>
                </div>
                <div class="footer__line-chat"><img src="img/img-chat.png" alt=""></div>
            </div>
        </div>
    </div>
</footer>