<header class="wrapper header" id="header">
    <div class="mobile-menu" id="mobile-menu">
        <svg class="icon icon-menu ">
            <use xlink:href="img/sprite.svg#menu"></use>
        </svg>
        <svg class="icon icon-close ">
            <use xlink:href="img/sprite.svg#close"></use>
        </svg>
    </div>
    <div class="header__line-wrapper">
        <div class="container">
            <div class="header__line">
                <div class="header__line-item header__pay"><a href="#">Онлайн-оплата</a></div>
                <div class="header__line-item"><a href="#">Регистрация</a></div>
                <div class="header__line-item"><a href="#">Вход</a></div>
                <div class="header__line-item header__cart"><a href="#"><i class="ico">
                    <svg class="icon icon-ico-cart ">
                        <use xlink:href="img/sprite.svg#ico-cart"></use>
                    </svg></i></a></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__main"><a class="header__logo ico" href="/">
            <svg class="icon icon-logo ">
                <use xlink:href="img/sprite.svg#logo"></use>
            </svg></a>
            <div class="header__info">
                <div class="header__delivery">
                    <div class="header__delivery-icon ico">
                        <svg class="icon icon-ico-delivery ">
                            <use xlink:href="img/sprite.svg#ico-delivery"></use>
                        </svg>
                    </div>
                    <div class="header__delivery-text"><span><b>Бесплатно доставляем заказы</b></span><span>от 5000 рублей по Туле</span></div>
                </div>
                <div class="header__tel">
                    <div class="header__tel-item"><span class="header__tel-town">Тула</span><a class="header__tel-number" href="tel:+74872311010">+7 (4872) 31-10-10</a><span class="header__tel-time">(9:00-18:00)</span></div>
                    <div class="header__tel-item"><span class="header__tel-town">Москва</span><a class="header__tel-number" href="tel:+74872555050">+7 (4872) 55-50-50</a><span class="header__tel-time">(10:00-18:00)</span></div>
                </div>
                <div class="header__issue"><a href="#order-request" data-fancybox>оформить заказ</a></div>
            </div>
        </div>
        <div class="header__menu">
            <nav class="menu" id="menu">
                <div class="menu__item soon"><a href="#">Магазин</a></div>
                <div class="menu__item dropdown"><a href="service.html">услуги</a><i class="ico">
                    <svg class="icon icon-ico-dropdown-arrow ">
                        <use xlink:href="img/sprite.svg#ico-dropdown-arrow"></use>
                    </svg></i>
                    <ul class="submenu">
                        <li class="submenu__item"><a href="#">Широкоформатная печать</a></li>
                        <li class="submenu__item"><a href="service.html">Интерьерная печать</a></li>
                        <li class="submenu__item"><a href="#">Печать на пластике</a></li>
                        <li class="submenu__item"><a href="#">Мобильные стенды</a></li>
                        <li class="submenu__item"><a href="#">Планы эвакуации</a></li>
                        <li class="submenu__item"><a href="#">Фотообои</a></li>
                        <li class="submenu__item"><a href="#">Печать на стекле</a></li>
                        <li class="submenu__item"><a href="#">Печать на холсте</a></li>
                        <li class="submenu__item"><a href="#">Наклейки</a></li>
                        <li class="submenu__item"><a href="#">Флаги</a></li>
                        <li class="submenu__item"><a href="#">Печать на футболках</a></li>
                    </ul>
                </div>
                <div class="menu__item"><a href="price.html">прайс-лист</a></div>
                <div class="menu__item"><a href="about.html">о компании</a></div>
                <div class="menu__item active"><a href="news.html">новости</a></div>
                <div class="menu__item"><a href="portfolio.html">наши работы</a></div>
                <div class="menu__item"><a href="contacts.html">контакты</a></div>
            </nav>
        </div>
    </div>
</header>