<div class="popup-wrap">
    <form id="specials-request" class="popup">
        <div class="popup__title">Запрос специальных условий</div>
        <div class="popup__row">
            <div class="popup__col">
                <div class="popup__inputs">
                    <label class="popup__input">
                        <span>Имя Фамилия</span>
                        <input name="name" type="text" placeholder="Например, Владимир Михайлов" required>
                    </label>
                    <label class="popup__input">
                        <span>Компания</span>
                        <input name="company" type="text" placeholder="Например, ООО “Название”" required>
                    </label>
                    <label class="popup__input">
                        <span>Телефон</span>
                        <input name="phone" type="text" placeholder="+7 (___) ___ - __ - __" required class="tel-mask">
                    </label>
                    <label class="popup__input">
                        <span>Почта</span>
                        <input name="email" type="email" placeholder="name@company.com" required>
                    </label>
                    <label class="popup__input">
                        <span>Комментарий</span>
                        <textarea name="massage" placeholder="Оставьте ваш комментарий в произвольной форме"></textarea>
                    </label>
                </div>
            </div>
            <div class="popup__col">
                <div class="popup__checkbox-field">
                    <div class="popup__checkbox-title">Меня интересует:</div>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Широкоформатная печать</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Интерьерная печать</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Печать на пластике</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Мобильные стенды</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Планы эвакуации</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Фотообои</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Печать на стекле</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Печать на холсте</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Наклейки</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Флаги</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Футболки</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="popup__bottom">
            <div class="popup__info">Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных», на условиях и для целей, определенных в
                <a href="#">Согласии на обработку персональных данных.</a></div>
            <div class="popup__btn">
                <button type="submit" class="btn btn--black">отправить</button>
            </div>
        </div>
        <button type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
    </form>
    <form id="services-request" class="popup">
        <div class="popup__title">Запросить услугу</div>
        <div class="popup__inputs popup__inputs--full">
            <label class="popup__input">
                <span>Имя Фамилия</span>
                <input name="s-name" type="text" placeholder="Например, Владимир Михайлов" required>
            </label>
            <label class="popup__input">
                <span>Телефон</span>
                <input name="s-phone" type="text" placeholder="+7 (___) ___ - __ - __" required class="tel-mask">
            </label>
            <label class="popup__input">
                <span>Почта</span>
                <input name="s-email" type="email" placeholder="name@company.com" required>
            </label>
            <label class="popup__input">
                <span>Услуга, которая меня интересует</span>
                <input name="s-service" type="text" placeholder="Например, ООО “Название”" required>
            </label>
        </div>
        <div class="popup__bottom">
            <div class="popup__info">Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных», на условиях и для целей, определенных в
                <a href="#">Согласии на обработку персональных данных.</a></div>
            <div class="popup__btn">
                <button type="submit" class="btn btn--black">отправить</button>
            </div>
        </div>
        <button type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
    </form>
    <form id="order-request" class="popup">
        <div class="popup__title">Оформить заказ</div>
        <div class="popup__row">
            <div class="popup__col">
                <div class="popup__inputs">
                    <label class="popup__input">
                        <span>Имя Фамилия</span>
                        <input name="o-name" type="text" placeholder="Например, Владимир Михайлов" required>
                    </label>
                    <label class="popup__input">
                        <span>Почта</span>
                        <input name="o-email" type="email" placeholder="name@company.com" required>
                    </label>
                    <label class="popup__input">
                        <span>Телефон</span>
                        <input name="o-phone" type="text" placeholder="+7 (___) ___ - __ - __" required class="tel-mask">
                    </label>

                    <label class="popup__input">
                        <span>Мой заказ</span>
                        <textarea name="o-massage" placeholder="Оставьте ваш комментарий в произвольной форме"></textarea>
                    </label>
                    <div class="form__add-file">
                        <ul id="form-output" class="form__uploaded-file"></ul>
                        <label>
                            <input id="form-file" type="file" name="file" multiple>
                            <span class="form__clips ico">
                                <svg class="icon icon-ico_left ">
                                    <use xlink:href="img/sprite.svg#clips"></use>
                                </svg>
                            </span>
                            <span>Прикрепить фаил</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="popup__col">
                <div class="popup__checkbox-field">
                    <div class="popup__checkbox-title">Меня интересует:</div>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Широкоформатная печать</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Интерьерная печать</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Печать на пластике</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Мобильные стенды</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Планы эвакуации</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Фотообои</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Печать на стекле</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Печать на холсте</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Наклейки</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Флаги</span>
                    </label>
                    <label class="popup__checkbox">
                        <input type="checkbox">
                        <span>Футболки</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="popup__bottom">
            <div class="popup__info">Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных», на условиях и для целей, определенных в
                <a href="#">Согласии на обработку персональных данных.</a></div>
            <div class="popup__btn">
                <button type="submit" class="btn btn--black">отправить</button>
            </div>
        </div>
        <button type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close"><svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24"><path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path></svg></button>
    </form>
</div>

