//= parts/head.html
  <div class="page-wrapper" id="page-wrapper">
    //= parts/header.html
    <div class="page-body" id="page-body">
        <div class="wrap-border">
            <div class="container">
                <div class="price">
                    <h1 class="detail__title">Страница не найдена</h1>
                    <div class="page-404">
                        <div class="page-404__title">Ошибка могла произойти по нескольким причинам:</div>
                        <div class="page-404__list">
                            <div class="page-404__item">Вы ввели неправильный адрес.</div>
                            <div class="page-404__item">Страница, на которую вы хотели зайти, устарела и была удалена.</div>
                            <div class="page-404__item">Акция, ранее действовавшая на сайте, закончилась.</div>
                            <div class="page-404__item">На сервере произошла ошибка. Если так, то мы уже знаем о ней и обязательно исправим.</div>
                        </div>
                        <div class="page-404__btn">
                            <a href="#" class="btn btn--black">оформить заказ</a>
                            <a href="#" class="btn btn--grey">на главную страницу</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      //= parts/popups.html
    //= parts/footer.html
  </div>
//= parts/footer-links.html
</body>
</html>