//= parts/head.html
  <div class="page-wrapper" id="page-wrapper">
    //= parts/header.html
    <div class="page-body" id="page-body">
        <div class="wrap-border">
            <div class="container">
                <div class="price about">
                    <h1 class="detail__title">О компании</h1>
                    <div class="price__content">
                        <div class="price__tabs">
                            <a href="#tab-1" class="price__tab active">История</a>
                            <a href="#tab-2" class="price__tab">Оборудование</a>
                            <a href="#tab-3" class="price__tab">Условия работы</a>
                            <a href="#tab-4" class="price__tab">Наши клиенты</a>
                            <div class="price__tab-open"></div>
                        </div>
                        <div id="tab-1" class="price__detail active">
                            <div class="about__content about__history">
                                <h4>Назад в прошлое</h4>
                                <p>Тула, 2005 год. <br>
                                    Широкоформатная печать востребована, однако за отсутствием предложений в родном городе печататься все ездят в столицу.
                                    <br>
                                    Поглазев по сторонам и оценив обстановку, мы покупаем наш первый широкоформатный принтер — сольвентный SkyJet 3312-4С (Китай) с шириной печати до 3.2 м. Как нам удалось затащить этого крупногабаритного парня на второй этаж небольшого здания №6 по улице Сойфера, отдельная и очень захватывающая история, главное, принтер установлен и готов к работе. Мы же, с целью привлечения клиентов, рассказываем друзьям/знакомым о трехметровом принтере, разносим листовки и буклеты всюду, где только можно, запускаем забавную и немного провокационную рекламу по радио (кто помнит, тот улыбнется) и терпеливо верим в светлое будущее.
                                    <br>
                                    Ждать, к счастью, приходится недолго: молва потихоньку расходится по городу, на пороге появляются первые заказчики, многие из которых стали нашими хорошими друзьями.
                                    <br>
                                    Спустя год мы решаем не загонять себя в рамки одной лишь широкоформатной печати и с головой уходим в интерьерку. Запустив в работу экосольвентный принтер-каттер Roland SP-540, мы печатаем с интерьерным качеством постеры, этикетки, стикеры, POS-материалы.</p>
                                <h4>Vutek, Vutek! Ты могуч!</h4>
                                <p>Естественно, наши приятели-конкуренты стали обзаводиться своими «скайджетами». Мы же с нашим, наоборот, попрощались. Число клиентов росло, появилась необходимость набрать в скорости и, не будем скрывать, хотелось большего качества и надежности, которых китайский принтер дать не мог.
                                    <br>
                                    Посему 2007 год был ознаменован инсталляцией нового широкоформатного принтера Vutek UltraVu 3360. В России обладателей известного на весь широкоформатный мир бренда было не так много, а в Туле о нем даже и не мечтали.
                                    Следующие семь лет Vutek служил нам верой и правдой, отпечатав тысячи квадратных метров и израсходовав столько же литров краски.
                                    <br>
                                    А мы тем временем занялись ремонтом офиса, наладили круглосуточное производство и прибавили в штате: с одного менеджера и трех работников цеха выросли в сплоченную команду. И начали осваивать московский рынок.</p>
                                <h4>Печатаем по жесткому</h4>
                                <p>К 2010 году мы стали приглядываться к невиданной ранее технологии УФ-печати, что привело к инсталляции первого в Туле планшетного УФ-принтера. OCE Arizona 250GT открыл новые горизонты: фотопечать на жестких (и не только) материалах.
                                    <br>
                                    Сначала печатали на белом пластике различной толщины, а когда через год захотели научиться печатать еще и белым цветом, то достаточно быстро поменяли наш планшетник на более совершенную модель OCE Arizona 360GT.
                                    <br>
                                    С этим принтером мы запустили эксклюзивное и по сей день предложение фотопечати с белым цветом на стекле и других прозрачных материалах. В работу пошли и цветные материалы: опция белых чернил с легкостью позволяет наносить изображение поверх любых оттенков.</p>
                                <h4>Шаг вперед</h4>
                                <p>В 2013 году во всем мире начала зарождаться мода рулонной УФ-печати. Не трудно догадаться, что и в этот раз мы решили быть в авангарде.
                                    <br>
                                    Поэтому, с почестями отправив Vutek трудиться в столицу, мы познакомили заказчиков с широкоформатным монстром — УФ-принтером Matan Barak 4Q. Производительность и качество печати увеличились в разы, а за счет высокой устойчивости УФ-чернил к выгоранию и перепадам температур срок службы отпечатков значительно возрос.</p>
                                <h4>Интерьерка: экосольвент + латекс</h4>
                                <p>Для печати интерьерки с самого начала была выбрана знаменитая и надежная как самурай японская марка Roland. К 2014 году, оценив в работе пять экосольвентных принтеров этого производителя и наращивая их в скорости и ширине печати, мы остановились на двух последних: оптимальных по качеству и возможностям моделях XF-640 и VS-640.
                                    <br>
                                    Качество плакатов, наклеек (в том числе с контурной резкой), вставок в мобильные стенды и тому подобных интерьерных решений всегда было на высоте. Однако в производстве фотообоев минусы экосольвента достигли своего пика.
                                    <br>
                                    Не очень приятный запах был еще более-менее терпимым недостатком, все-таки запах со временем выветривается. Но тот факт, что напечатанные экосольвентом обои не терпели неаккуратного монтажа, и краска попросту могла содраться, доставлял немало хлопот. Этот недостаток был ликвидирован путем освоения новой и самой последней технологии печати — латексной. Производитель принтеров нового поколения Hewlett Packard гарантировал устойчивость печати к царапинам и выгоранию, идеальную цветопередачу, высокую производительность и экологичность, — своего рода визитную карточку латексной печати.
                                    <br>
                                    Первый отпечаток доказал, что выбор HP Latex 360 для печати фотообоев оправдан на 100 процентов.</p>
                                <h4>Дальше — больше!</h4>
                                <p>Сейчас у нас гора планов. В такой интересной отрасли, как наша, топтаться на месте недопустимо. А для нас еще и скучно.
                                    <br>
                                    Мы стремимся внедрять самые новые технологии печати, тем самым давая вам возможность реализовать абсолютно любые желания и улучшать пространство вокруг себя.
                                    <br>
                                    Всегда открыты для новых предложений о сотрудничестве и готовы рассмотреть запросы на что-то новое и необычное.</p>
                            </div>
                        </div>
                        <div id="tab-2" class="price__detail">
                            <div class="about__content about__print">
                                <h3>Печатное оборудование:</h3>
                                <div class="about__tech">
                                    <div class="about__tech-img">
                                        <img src="img/about/tech-1.png" alt="">
                                    </div>
                                    <div class="about__tech-info">
                                        <h5 class="about__tech-title">Широкоформатный УФ-принтер Matan Barak HS (Израиль)</h5>
                                        <div class="about__tech-list">
                                            <div class="about__tech-item">Максимальная ширина печати — 3500 мм;</div>
                                            <div class="about__tech-item">Количество цветов — CMYK;</div>
                                            <div class="about__tech-item">Качество печати — до 600 dpi;</div>
                                            <div class="about__tech-item">Чернила — УФ-отверждаемые;</div>
                                            <div class="about__tech-item">Материалы — баннерная ткань, сетка, самоклеящиеся пленки, бумага, полиэстер, флаговая ткань.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="about__tech">
                                    <div class="about__tech-img">
                                        <img src="img/about/tech-2.png" alt="">
                                    </div>
                                    <div class="about__tech-info">
                                        <h5 class="about__tech-title">Планшетный УФ-принтер OCE Arizona 360GT (Канада)</h5>
                                        <div class="about__tech-list">
                                            <div class="about__tech-item">Максимальный размер печати — 1250х2500 мм;</div>
                                            <div class="about__tech-item">Максимальная толщина материала — 50 мм;</div>
                                            <div class="about__tech-item">Количество цветов — CMYK + White;</div>
                                            <div class="about__tech-item">Качество печати — до 1440 dpi;</div>
                                            <div class="about__tech-item">Качество печати — до 1440 dpi;</div>
                                            <div class="about__tech-item">Материалы — пластик, пенокартон, полистирол, оргстекло, акрил, стекло, дерево, керамика, ткань.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="about__tech">
                                    <div class="about__tech-img">
                                        <img src="img/about/tech-3.png" alt="">
                                    </div>
                                    <div class="about__tech-info">
                                        <h5 class="about__tech-title">Широкоформатный УФ-принтер Matan Barak HS (Израиль)</h5>
                                        <div class="about__tech-list">
                                            <div class="about__tech-item">Максимальная ширина печати — 3500 мм;</div>
                                            <div class="about__tech-item">Количество цветов — CMYK;</div>
                                            <div class="about__tech-item">Качество печати — до 600 dpi;</div>
                                            <div class="about__tech-item">Чернила — УФ-отверждаемые;</div>
                                            <div class="about__tech-item">Материалы — баннерная ткань, сетка, самоклеящиеся пленки, бумага, полиэстер, флаговая ткань.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="about__tech">
                                    <div class="about__tech-img">
                                        <img src="img/about/tech-4.png" alt="">
                                    </div>
                                    <div class="about__tech-info">
                                        <h5 class="about__tech-title">Планшетный УФ-принтер OCE Arizona 360GT (Канада)</h5>
                                        <div class="about__tech-list">
                                            <div class="about__tech-item">Максимальный размер печати — 1250х2500 мм;</div>
                                            <div class="about__tech-item">Максимальная толщина материала — 50 мм;</div>
                                            <div class="about__tech-item">Количество цветов — CMYK + White;</div>
                                            <div class="about__tech-item">Качество печати — до 1440 dpi;</div>
                                            <div class="about__tech-item">Качество печати — до 1440 dpi;</div>
                                            <div class="about__tech-item">Материалы — пластик, пенокартон, полистирол, оргстекло, акрил, стекло, дерево, керамика, ткань.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="about__tech">
                                    <div class="about__tech-img">
                                        <img src="img/about/tech-5.png" alt="">
                                    </div>
                                    <div class="about__tech-info">
                                        <h5 class="about__tech-title">Широкоформатный УФ-принтер Matan Barak HS (Израиль)</h5>
                                        <div class="about__tech-list">
                                            <div class="about__tech-item">Максимальная ширина печати — 3500 мм;</div>
                                            <div class="about__tech-item">Количество цветов — CMYK;</div>
                                            <div class="about__tech-item">Качество печати — до 600 dpi;</div>
                                            <div class="about__tech-item">Чернила — УФ-отверждаемые;</div>
                                            <div class="about__tech-item">Материалы — баннерная ткань, сетка, самоклеящиеся пленки, бумага, полиэстер, флаговая ткань.</div>
                                        </div>
                                    </div>
                                </div>
                                <h3>Послепечатное оборудование:</h3>
                                <div class="about__tech">
                                    <div class="about__tech-img">
                                        <img src="img/about/tech-6.png" alt="">
                                    </div>
                                    <div class="about__tech-info">
                                        <h5 class="about__tech-title">Планшетный УФ-принтер OCE Arizona 360GT (Канада)</h5>
                                        <div class="about__tech-list">
                                            <div class="about__tech-item">Максимальный размер печати — 1250х2500 мм;</div>
                                            <div class="about__tech-item">Максимальная толщина материала — 50 мм;</div>
                                            <div class="about__tech-item">Количество цветов — CMYK + White;</div>
                                            <div class="about__tech-item">Качество печати — до 1440 dpi;</div>
                                            <div class="about__tech-item">Качество печати — до 1440 dpi;</div>
                                            <div class="about__tech-item">Материалы — пластик, пенокартон, полистирол, оргстекло, акрил, стекло, дерево, керамика, ткань.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="about__tech">
                                    <div class="about__tech-img">
                                        <img src="img/about/tech-7.png" alt="">
                                    </div>
                                    <div class="about__tech-info">
                                        <h5 class="about__tech-title">Широкоформатный УФ-принтер Matan Barak HS (Израиль)</h5>
                                        <div class="about__tech-list">
                                            <div class="about__tech-item">Максимальная ширина печати — 3500 мм;</div>
                                            <div class="about__tech-item">Количество цветов — CMYK;</div>
                                            <div class="about__tech-item">Качество печати — до 600 dpi;</div>
                                            <div class="about__tech-item">Чернила — УФ-отверждаемые;</div>
                                            <div class="about__tech-item">Материалы — баннерная ткань, сетка, самоклеящиеся пленки, бумага, полиэстер, флаговая ткань.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="about__tech">
                                    <div class="about__tech-img">
                                        <img src="img/about/tech-8.png" alt="">
                                    </div>
                                    <div class="about__tech-info">
                                        <h5 class="about__tech-title">Планшетный УФ-принтер OCE Arizona 360GT (Канада)</h5>
                                        <div class="about__tech-list">
                                            <div class="about__tech-item">Максимальный размер печати — 1250х2500 мм;</div>
                                            <div class="about__tech-item">Максимальная толщина материала — 50 мм;</div>
                                            <div class="about__tech-item">Количество цветов — CMYK + White;</div>
                                            <div class="about__tech-item">Качество печати — до 1440 dpi;</div>
                                            <div class="about__tech-item">Качество печати — до 1440 dpi;</div>
                                            <div class="about__tech-item">Материалы — пластик, пенокартон, полистирол, оргстекло, акрил, стекло, дерево, керамика, ткань.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="price__detail">
                            <div class="about__content">
                                <h4>Назад в прошлое</h4>
                                <p>Тула, 2005 год. <br>
                                    Широкоформатная печать востребована, однако за отсутствием предложений в родном городе печататься все ездят в столицу.
                                    <br>
                                    Поглазев по сторонам и оценив обстановку, мы покупаем наш первый широкоформатный принтер — сольвентный SkyJet 3312-4С (Китай) с шириной печати до 3.2 м. Как нам удалось затащить этого крупногабаритного парня на второй этаж небольшого здания №6 по улице Сойфера, отдельная и очень захватывающая история, главное, принтер установлен и готов к работе. Мы же, с целью привлечения клиентов, рассказываем друзьям/знакомым о трехметровом принтере, разносим листовки и буклеты всюду, где только можно, запускаем забавную и немного провокационную рекламу по радио (кто помнит, тот улыбнется) и терпеливо верим в светлое будущее.
                                    <br>
                                    Ждать, к счастью, приходится недолго: молва потихоньку расходится по городу, на пороге появляются первые заказчики, многие из которых стали нашими хорошими друзьями.
                                    <br>
                                    Спустя год мы решаем не загонять себя в рамки одной лишь широкоформатной печати и с головой уходим в интерьерку. Запустив в работу экосольвентный принтер-каттер Roland SP-540, мы печатаем с интерьерным качеством постеры, этикетки, стикеры, POS-материалы.</p>
                                <h4>Vutek, Vutek! Ты могуч!</h4>
                                <p>Естественно, наши приятели-конкуренты стали обзаводиться своими «скайджетами». Мы же с нашим, наоборот, попрощались. Число клиентов росло, появилась необходимость набрать в скорости и, не будем скрывать, хотелось большего качества и надежности, которых китайский принтер дать не мог.
                                    <br>
                                    Посему 2007 год был ознаменован инсталляцией нового широкоформатного принтера Vutek UltraVu 3360. В России обладателей известного на весь широкоформатный мир бренда было не так много, а в Туле о нем даже и не мечтали.
                                    Следующие семь лет Vutek служил нам верой и правдой, отпечатав тысячи квадратных метров и израсходовав столько же литров краски.
                                    <br>
                                    А мы тем временем занялись ремонтом офиса, наладили круглосуточное производство и прибавили в штате: с одного менеджера и трех работников цеха выросли в сплоченную команду. И начали осваивать московский рынок.</p>
                                <h4>Печатаем по жесткому</h4>
                                <p>К 2010 году мы стали приглядываться к невиданной ранее технологии УФ-печати, что привело к инсталляции первого в Туле планшетного УФ-принтера. OCE Arizona 250GT открыл новые горизонты: фотопечать на жестких (и не только) материалах.
                                    <br>
                                    Сначала печатали на белом пластике различной толщины, а когда через год захотели научиться печатать еще и белым цветом, то достаточно быстро поменяли наш планшетник на более совершенную модель OCE Arizona 360GT.
                                    <br>
                                    С этим принтером мы запустили эксклюзивное и по сей день предложение фотопечати с белым цветом на стекле и других прозрачных материалах. В работу пошли и цветные материалы: опция белых чернил с легкостью позволяет наносить изображение поверх любых оттенков.</p>
                                <h4>Шаг вперед</h4>
                                <p>В 2013 году во всем мире начала зарождаться мода рулонной УФ-печати. Не трудно догадаться, что и в этот раз мы решили быть в авангарде.
                                    <br>
                                    Поэтому, с почестями отправив Vutek трудиться в столицу, мы познакомили заказчиков с широкоформатным монстром — УФ-принтером Matan Barak 4Q. Производительность и качество печати увеличились в разы, а за счет высокой устойчивости УФ-чернил к выгоранию и перепадам температур срок службы отпечатков значительно возрос.</p>
                                <h4>Интерьерка: экосольвент + латекс</h4>
                                <p>Для печати интерьерки с самого начала была выбрана знаменитая и надежная как самурай японская марка Roland. К 2014 году, оценив в работе пять экосольвентных принтеров этого производителя и наращивая их в скорости и ширине печати, мы остановились на двух последних: оптимальных по качеству и возможностям моделях XF-640 и VS-640.
                                    <br>
                                    Качество плакатов, наклеек (в том числе с контурной резкой), вставок в мобильные стенды и тому подобных интерьерных решений всегда было на высоте. Однако в производстве фотообоев минусы экосольвента достигли своего пика.
                                    <br>
                                    Не очень приятный запах был еще более-менее терпимым недостатком, все-таки запах со временем выветривается. Но тот факт, что напечатанные экосольвентом обои не терпели неаккуратного монтажа, и краска попросту могла содраться, доставлял немало хлопот. Этот недостаток был ликвидирован путем освоения новой и самой последней технологии печати — латексной. Производитель принтеров нового поколения Hewlett Packard гарантировал устойчивость печати к царапинам и выгоранию, идеальную цветопередачу, высокую производительность и экологичность, — своего рода визитную карточку латексной печати.
                                    <br>
                                    Первый отпечаток доказал, что выбор HP Latex 360 для печати фотообоев оправдан на 100 процентов.</p>
                                <h4>Дальше — больше!</h4>
                                <p>Сейчас у нас гора планов. В такой интересной отрасли, как наша, топтаться на месте недопустимо. А для нас еще и скучно.
                                    <br>
                                    Мы стремимся внедрять самые новые технологии печати, тем самым давая вам возможность реализовать абсолютно любые желания и улучшать пространство вокруг себя.
                                    <br>
                                    Всегда открыты для новых предложений о сотрудничестве и готовы рассмотреть запросы на что-то новое и необычное.</p>
                            </div>
                        </div>
                        <div id="tab-4" class="price__detail">
                            <div class="about__content about__print">
                                <h3>Наши клиенты</h3>
                                <div class="about__clients">
                                    <div class="about__clients-item"><img src="img/clients/ade743a65acc5099c68f29e5cc30466f.png" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/19a474bc6d4a16d8fbba1bbcd0117425.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/efedf5900fd33bc26796f2943b1f48e4.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/4e9ef3e74994d577908727162a357408.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/f88c6830c31f855df2a37e38117b411a.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/04a086dbb603de42d51c4dbd3433fbc9.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/88259225be4fe110542aa1618e230c7c.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/90006024cb4e590cf3e7d73c62ca9916.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/055965d704dc04419ab92b2a98711852.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/b4471256e8ad451af7c913c56c14f6a8.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/2f15789154df8a1953bf978e9acadc03.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/5f3ef3931069cdaa10f8599c709cff26.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/d564d820589dfaa108ef0618e2205602.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/a63cb5210640cef373585932884dc2e2.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/ff4968e8a5b18dde70bfce5864b8cff4.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/f1bd9553a8975cd64942507f36cae1c4.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/5e4fa0b7ed085027c96b24b2ec6ce7b0.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/615b3ac794739aa069614350577bc6ad.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/92c7e4e69dac0c81f0a64dd350e986fb.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/6989b52276a1fd6ebd75f4c84364ef7f.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/9313455c9622bb7cbb8f6e4d7f508164.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/6e9b8097fd490fc9df27e9a19c31220a.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/c8bf6b9a4d764070008da71a1c5212a2.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/b9388c5e0f2c699954d1f0859aa3ba8b.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/52ad711806e344cd74fddde8d8bd118c.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/b27d763d9eda2324ed728972c4622cc0.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/4eb2e38182e63afb3cd0a42a990df5dd.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/4a08d37be8911996802d3c5cc0afb5ae.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/675cd79c04a96a4e808be1720db2fb1a.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/3d01faae94d09f7b214c379cbadfb6d6.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/e084771ff36e221088384a7fae15583c.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/978bebe85cc45f30f4a077304168006b.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/3a7fd3ef668629495fe56e94eb1b2962.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/086f23d330bbec297dc81c40822b0cf1.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/35cd6b5260379de2fb3a01cb2ad94909.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/951bc74a7281e06a7ef1b502944fb857.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/ad38c2c72fa8d047050694d673e92564.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/80459174f732871467fa9a8cf0f4ad05.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/94c1605a3d773b4058160e57f029854e.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/15a2dcd1d672629035cd63218dceb7e2.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/90a83a281ca3b9941eab1e97dccbb9fd.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/58877948fec5c37ae6461f86218f4fbf.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/fc062d7f496090b988c532249593a161.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/8041c69e7edbc8130a505a7f1ae59d8d.gif" alt=""></div>
                                    <div class="about__clients-item"><img src="img/clients/27459c6944bc4f5005bb6b3f0262d5b3.gif" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-wrap">
            <form class="form">
                <div class="form__title">Оформить заказ</div>
                <div class="form__info">на фотопечать для оформления интерьера или использования в рекламных целях.
                    <br>
                    Наши менеджеры свяжутся с вами и помогут выбрать оптимальное решение, рассчитать стоимость заказа. </div>
                <div class="form__add-file">
                    <ul id="output" class="form__uploaded-file"></ul>
                    <label>
                        <input id="input-file" type="file" name="file" multiple>
                        <span class="form__clips ico">
                                <svg class="icon icon-ico_left ">
                                    <use xlink:href="img/sprite.svg#clips"></use>
                                </svg>
                            </span>
                        <span>Прикрепить фаил</span>
                    </label>

                </div>
                <div class="form__inputs">
                    <div class="form__input"><input type="text" placeholder="Имя" required name="user-name"></div>
                    <div class="form__input"><input type="email" placeholder="Почта" required name="user-email"></div>
                    <div class="form__input"><input type="tel" class="tel-mask" placeholder="Телефон" required name="user-phone"></div>
                    <button class="btn btn--black form__btn">отправить</button>
                </div>
                <div class="form__required">
                    <span>Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных», на условиях и для целей, определенных в</span> <a href="#">Согласии на обработку персональных данных.</a>
                </div>
            </form>
        </div>
    </div>
      //= parts/popups.html
    //= parts/footer.html
  </div>
//= parts/footer-links.html
</body>
</html>