//= parts/head.html
  <div class="page-wrapper" id="page-wrapper">
    //= parts/header.html
    <div class="page-body" id="page-body">
        <div class="wrap-border">
            <div class="container">
                <div class="price contacts">
                    <h1 class="detail__title">Контакты</h1>
                    <div class="price__content">
                        <div class="price__tabs">
                            <a href="#tab-1" class="price__tab active">Тула</a>
                            <a href="#tab-2" class="price__tab">Москва</a>
                            <div class="price__tab-open"></div>
                        </div>
                        <div id="tab-1" class="price__detail active">
                            <div class="contacts__row">
                                <div class="contacts__item">
                                    <h3 class="contacts__title">Офис и производство:</h3>
                                    <div class="contacts__name">г. Тула ул. Сойфера, 6</div>
                                </div>
                                <div class="contacts__item">
                                    <h3 class="contacts__title">Телефон:</h3>
                                    <div class="contacts__name"><a href="tel:+74872311010">+7 (4872) 31-10-10</a></div>
                                </div>
                                <div class="contacts__item">
                                    <h3 class="contacts__title">Электонная почта:</h3>
                                    <div class="contacts__name"><a class="contacts__email" href="mailto:tula@maditech.ru">tula@maditech.ru</a></div>
                                </div>
                                <div class="contacts__item">
                                    <h3 class="contacts__title">Режим работы:</h3>
                                    <div class="contacts__name">Пн-Пт — с 9:00 до 18:00,</div>
                                    <div class="contacts__name">Сб-Вс — выходной</div>
                                </div>
                            </div>
                            <div id="map-1" class="map"></div>
                        </div>
                        <div id="tab-2" class="price__detail">
                            <div class="contacts__row">
                                <div class="contacts__item">
                                    <h3 class="contacts__title">Пункт самовывоза:</h3>
                                    <div class="contacts__name">г. Москва, 1-й Котляковский переулок, д. 3, 2-й этаж, офис 23</div>
                                </div>
                                <div class="contacts__item">
                                    <h3 class="contacts__title">Телефон:</h3>
                                    <div class="contacts__name"><a href="tel:+74872555050">+7 (4872) 55-50-50</a></div>
                                </div>
                                <div class="contacts__item">
                                    <h3 class="contacts__title">Электонная почта:</h3>
                                    <div class="contacts__name"><a class="contacts__email" href="mailto:moscow@maditech.ru">moscow@maditech.ru</a></div>
                                </div>
                                <div class="contacts__item">
                                    <h3 class="contacts__title">Режим работы:</h3>
                                    <div class="contacts__name">Пн-Пт — с 9:00 до 18:00,</div>
                                    <div class="contacts__name">Сб-Вс — выходной</div>
                                </div>
                            </div>
                            <div id="map-2" class="map"></div>

                        </div>
                    </div>
                </div>
                <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=425ace28-9ba3-4e2e-b2b3-6d22a791e947" type="text/javascript"></script>
                <script>
                    ymaps.ready(init);

                    function init() {
                        var myMap1 = new ymaps.Map("map-1", {
                            center: [54.198606, 37.610000],
                            zoom: 14,
                            controls: []
                        });

                        var myMap2 = new ymaps.Map("map-2", {
                            center: [55.695849, 37.598573],
                            zoom: 14,
                            controls: []
                        });

                        myMap1.geoObjects
                            .add(new ymaps.Placemark([54.198606, 37.610000], {
                                balloonContent: 'г. Тула ул. Сойфера, 6',
                                title: 'г. Тула ул. Сойфера, 6'
                            }, {
                                preset: 'islands#dotIcon',
                                iconColor: '#a53df6'
                            }));

                        myMap2.geoObjects
                            .add(new ymaps.Placemark([55.695849, 37.598573], {
                                balloonContent: 'г. Москва, 1-й Котляковский переулок, д. 3, 2-й этаж, офис 23',
                                title: 'г. Москва, 1-й Котляковский переулок, д. 3, 2-й этаж, офис 23'
                            }, {
                                preset: 'islands#dotIcon',
                                iconColor: '#a53df6'
                            }));
                        $('.price__tab').on('click', function () {
                            console.log('click');
                            if($('.map')) {

                            }
                            myMap1.container.fitToViewport();
                            myMap2.container.fitToViewport();
                        });
                    }
                </script>

            </div>
        </div>
        <div class="form-wrap">
            <form class="form">
                <div class="form__title">Оформить заказ</div>
                <div class="form__info">на фотопечать для оформления интерьера или использования в рекламных целях.
                    <br>
                    Наши менеджеры свяжутся с вами и помогут выбрать оптимальное решение, рассчитать стоимость заказа. </div>
                <div class="form__add-file">
                    <ul id="output" class="form__uploaded-file"></ul>
                    <label>
                        <input id="input-file" type="file" name="file" multiple>
                        <span class="form__clips ico">
                                <svg class="icon icon-ico_left ">
                                    <use xlink:href="img/sprite.svg#clips"></use>
                                </svg>
                            </span>
                        <span>Прикрепить фаил</span>
                    </label>

                </div>
                <div class="form__inputs">
                    <div class="form__input"><input type="text" placeholder="Имя" required name="user-name"></div>
                    <div class="form__input"><input type="email" placeholder="Почта" required name="user-email"></div>
                    <div class="form__input"><input type="tel" class="tel-mask" placeholder="Телефон" required name="user-phone"></div>
                    <button class="btn btn--black form__btn">отправить</button>
                </div>
                <div class="form__required">
                    <span>Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных», на условиях и для целей, определенных в</span> <a href="#">Согласии на обработку персональных данных.</a>
                </div>
            </form>
        </div>
    </div>
      //= parts/popups.html
    //= parts/footer.html
  </div>
//= parts/footer-links.html
</body>
</html>