//= parts/head.html
<div class="global-wrapper">
  //= parts/header.html
  <div class="main">
    <div class="container">
      <ul>
        <li><a href="main.html">main</a></li>
        <li><a href="service.html">Интерьерная печать</a></li>
        <li><a href="service-2.html">Постеры и плакаты</a></li>
        <li><a href="portfolio.html">portfolio</a></li>
        <li><a href="price.html">price-list</a></li>
          <li><a href="contacts.html">contacts</a></li>
          <li><a href="about.html">about</a></li>
        <li><a href="news.html">news</a></li>
        <li><a href="news-detail.html">news-detail</a></li>
        <li><a href="payment.html">Оплата</a></li>
          <li><a href="404.html">404</a></li>
      </ul>
      <br>
        <a href="#specials-request" data-fancybox class="btn">Запрос специальных условий</a> <br> <br>
        <a href="#services-request" data-fancybox class="btn">Запросить услугу</a> <br> <br>
        <a href="#order-request" data-fancybox class="btn">Оформить заказ</a>
        <br>
      <hr>
    </div>
  </div>
    //= parts/popups.html
  //= parts/footer.html
  //= parts/footer-links.html
</div>
</body>
</html>