//= parts/head.html
  <div class="page-wrapper" id="page-wrapper">
    //= parts/header.html
    <div class="page-body" id="page-body">
      <div class="banner">
        <div class="banner__slider" id="banner-slider">
          <div class="banner__slider-item">
            <div class="banner__img-wrapper">
              <div class="banner__img-dec"></div>
              <div class="banner__img"><img src="img/banner.jpg" alt=""></div>
            </div>
            <div class="banner__info-wrapper">
              <div class="container">
                <div class="banner__info">
                  <h2 class="banner__title">Промо с преимуществом конкретной услуги</h2><span class="banner__subtitle">Показываем услугу, иллюстрируя ее реальным проектом из портфолио</span><a class="banner__btn" href="#">заказать [услуга]</a>
                </div>
              </div>
            </div>
          </div>
          <div class="banner__slider-item">
            <div class="banner__img-wrapper">
              <div class="banner__img-dec"></div>
              <div class="banner__img"><img src="https://www.sentinelassam.com/wp-content/uploads/2019/07/DSC07177-1-1.jpg" alt=""></div>
            </div>
            <div class="banner__info-wrapper">
              <div class="container">
                <div class="banner__info">
                  <h2 class="banner__title">Прироода — материальный мир Вселенной</h2><span class="banner__subtitle">В быту слово «природа» часто употребляется в значении естественная среда обитания</span><a class="banner__btn" href="#">заказать [услуга]</a>
                </div>
              </div>
            </div>
          </div>
          <div class="banner__slider-item">
            <div class="banner__img-wrapper">
              <div class="banner__img-dec"></div>
              <div class="banner__img"><img src="https://media.4-paws.org/c/8/d/1/c8d144f4bf7df97ae51492de7216297cedcbd952/VP0175078-1936x1339-1920x1328.jpg" alt=""></div>
            </div>
            <div class="banner__info-wrapper">
              <div class="container">
                <div class="banner__info">
                  <h2 class="banner__title">Животные</h2><span class="banner__subtitle">Все животные являются гетеротрофами — они прямо или косвенно питаются другими живыми организмами</span><a class="banner__btn" href="#">заказать [услуга]</a>
                </div>
              </div>
            </div>
          </div>
        </div><a class="js-banner-arrows banner__arrows prev" href="#" data-slider="slickPrev">
          <svg class="icon icon-ico_left ">
            <use xlink:href="img/sprite.svg#ico_left"></use>
          </svg></a><a class="js-banner-arrows banner__arrows next" href="#" data-slider="slickNext">
          <svg class="icon icon-ico_right ">
            <use xlink:href="img/sprite.svg#ico_right"></use>
          </svg></a>
      </div>
      <div class="services">
        <div class="container">
          <h2>Услуги</h2>
          <div class="services__wrapper"><a class="services__item" href="#">
              <div class="services__img"><img src="img/services/img-service-1.png" alt=""></div>
              <div class="services__text"><span>Широкоформатная<br> печать</span></div></a><a class="services__item" href="#">
              <div class="services__img"><img src="img/services/img-service-2.png" alt=""></div>
              <div class="services__text"><span>интерьерная<br> печать</span></div></a><a class="services__item" href="#">
              <div class="services__img"><img src="img/services/img-service-3.png" alt=""></div>
              <div class="services__text"><span>печать на пластике</span></div></a><a class="services__item" href="#">
              <div class="services__img"><img src="img/services/img-service-4.png" alt=""></div>
              <div class="services__text"><span>Мобильные стенды</span></div></a><a class="services__item" href="#">
              <div class="services__img"><img src="img/services/img-service-5.png" alt=""></div>
              <div class="services__text"><span>Планы эвакуации</span></div></a><a class="services__item" href="#">
              <div class="services__img"><img src="img/services/img-service-6.png" alt=""></div>
              <div class="services__text"><span>фотообои</span></div></a><a class="services__item" href="#">
              <div class="services__img"><img src="img/services/img-service-7.png" alt=""></div>
              <div class="services__text"><span>печать на стекле</span></div></a><a class="services__item" href="#">
              <div class="services__img"><img src="img/services/img-service-8.png" alt=""></div>
              <div class="services__text"><span>печать на холсте</span></div></a><a class="services__item" href="#">
              <div class="services__img"><img src="img/services/img-service-9.png" alt=""></div>
              <div class="services__text"><span>наклейки</span></div></a><a class="services__item" href="#">
              <div class="services__img"><img src="img/services/img-service-10.png" alt=""></div>
              <div class="services__text"><span>флаги</span></div></a><a class="services__item" href="#">
              <div class="services__img"><img src="img/services/img-service-11.png" alt=""></div>
              <div class="services__text"><span>Печать на футболках</span></div></a>
            <div class="services__item services__help"><span>Не нашли нужную вам услугу? Напишите нам, мы постараемся вам помочь.</span><a class="services__help-btn" href="#services-request" data-fancybox>запросить услугу</a></div><a class="services__item fake" href="#"></a>
          </div>
        </div>
      </div>
      <div class="clients">
        <div class="container">
          <h2>Клиенты</h2>
          <div class="clients__slider" id="clients-slider"><img src="img/clients/19a474bc6d4a16d8fbba1bbcd0117425.gif" alt=""><img src="img/clients/efedf5900fd33bc26796f2943b1f48e4.gif" alt=""><img src="img/clients/4e9ef3e74994d577908727162a357408.gif" alt=""><img src="img/clients/f88c6830c31f855df2a37e38117b411a.gif" alt=""><img src="img/clients/04a086dbb603de42d51c4dbd3433fbc9.gif" alt=""><img src="img/clients/88259225be4fe110542aa1618e230c7c.gif" alt=""><img src="img/clients/90006024cb4e590cf3e7d73c62ca9916.gif" alt=""><img src="img/clients/055965d704dc04419ab92b2a98711852.gif" alt=""><img src="img/clients/b4471256e8ad451af7c913c56c14f6a8.gif" alt=""><img src="img/clients/2f15789154df8a1953bf978e9acadc03.gif" alt=""><img src="img/clients/5f3ef3931069cdaa10f8599c709cff26.gif" alt=""><img src="img/clients/d564d820589dfaa108ef0618e2205602.gif" alt=""><img src="img/clients/a63cb5210640cef373585932884dc2e2.gif" alt=""><img src="img/clients/ff4968e8a5b18dde70bfce5864b8cff4.gif" alt=""><img src="img/clients/f1bd9553a8975cd64942507f36cae1c4.gif" alt=""><img src="img/clients/5e4fa0b7ed085027c96b24b2ec6ce7b0.gif" alt=""><img src="img/clients/615b3ac794739aa069614350577bc6ad.gif" alt=""><img src="img/clients/92c7e4e69dac0c81f0a64dd350e986fb.gif" alt=""><img src="img/clients/6989b52276a1fd6ebd75f4c84364ef7f.gif" alt=""><img src="img/clients/9313455c9622bb7cbb8f6e4d7f508164.gif" alt=""><img src="img/clients/6e9b8097fd490fc9df27e9a19c31220a.gif" alt=""><img src="img/clients/c8bf6b9a4d764070008da71a1c5212a2.gif" alt=""><img src="img/clients/b9388c5e0f2c699954d1f0859aa3ba8b.gif" alt=""><img src="img/clients/52ad711806e344cd74fddde8d8bd118c.gif" alt=""><img src="img/clients/b27d763d9eda2324ed728972c4622cc0.gif" alt=""><img src="img/clients/4eb2e38182e63afb3cd0a42a990df5dd.gif" alt=""><img src="img/clients/4a08d37be8911996802d3c5cc0afb5ae.gif" alt=""><img src="img/clients/675cd79c04a96a4e808be1720db2fb1a.gif" alt=""><img src="img/clients/3d01faae94d09f7b214c379cbadfb6d6.gif" alt=""><img src="img/clients/e084771ff36e221088384a7fae15583c.gif" alt=""><img src="img/clients/978bebe85cc45f30f4a077304168006b.gif" alt=""><img src="img/clients/3a7fd3ef668629495fe56e94eb1b2962.gif" alt=""><img src="img/clients/086f23d330bbec297dc81c40822b0cf1.gif" alt=""><img src="img/clients/35cd6b5260379de2fb3a01cb2ad94909.gif" alt=""><img src="img/clients/951bc74a7281e06a7ef1b502944fb857.gif" alt=""><img src="img/clients/ad38c2c72fa8d047050694d673e92564.gif" alt=""><img src="img/clients/80459174f732871467fa9a8cf0f4ad05.gif" alt=""><img src="img/clients/94c1605a3d773b4058160e57f029854e.gif" alt=""><img src="img/clients/15a2dcd1d672629035cd63218dceb7e2.gif" alt=""><img src="img/clients/90a83a281ca3b9941eab1e97dccbb9fd.gif" alt=""><img src="img/clients/58877948fec5c37ae6461f86218f4fbf.gif" alt=""><img src="img/clients/fc062d7f496090b988c532249593a161.gif" alt=""><img src="img/clients/8041c69e7edbc8130a505a7f1ae59d8d.gif" alt=""><img src="img/clients/27459c6944bc4f5005bb6b3f0262d5b3.gif" alt=""></div>
        </div>
      </div>
      <div class="last-news">
        <div class="container">
          <h2>Последние новости</h2>
          <div class="last-news__wrapper"><a class="last-news__item" href="#"><span class="last-news__date">2 Июля</span>
              <h3 class="last-news__title">Снижение цен на мобильные стенды!</h3>
              <p class="last-news__text">У нас для вас очень приятная новость: ощутимое снижение цен на все мобильные стенды.</p></a><a class="last-news__item" href="#"><span class="last-news__date">1 Марта</span>
              <h3 class="last-news__title">Штендеры «Бессмертный полк». <br>Принимаем заказы!</h3>
              <p class="last-news__text">С сегодняшнего дня вы можете оформить заказ на изготовление транспарантов ко Дню Победы.</p></a><a class="last-news__item" href="#"><span class="last-news__date">15 Ноября 2018</span>
              <h3 class="last-news__title">Уличные аншлаги нового дизайна</h3>
              <p class="last-news__text">Специально для вас мы разработали макет фигурного аншлага с фактурой дерева четырех разных цветов и разных размеров.</p></a></div>
        </div>
      </div>
    </div>
      //= parts/popups.html
    //= parts/footer.html
  </div>
//= parts/footer-links.html
</body>
</html>