//= parts/head.html
<div class="page-wrapper" id="page-wrapper">
    //= parts/header.html
    <div class="page-body" id="page-body">
        <div class="wrap-border">
            <div class="news price">
                <div class="last-news">
                    <div class="container">
                        <h1 class="detail__title">Штендеры «Бессмертный полк». Принимаем заказы!</h1>
                        <div class="news__detail">
                            <span class="last-news__date">24 Декабря</span>
                            <div class="last-news__img">
                                <img src="img/news-img.jpg" alt="">
                            </div>
                            <p class="last-news__text">С сегодняшнего дня и по 30 апреля вы можете оформить заказ на изготовление штендеров «Бессмертный полк» ко Дню Победы.</p>
                            <p class="last-news__text">Заказать штендер можно двумя способами: у нас в офисе или дистанционно, написав нам по электронной почте или в online-консультант, после чего оплатив заказ у нас на сайте. Для оформления заказа необходима фотография вашего героя, его ФИО и звание.</p>
                            <p class="last-news__text">Штендер изготавливается из прочного влагостойкого пластика ПВХ. Стоимость штендера с держателем - 300 рублей, без держателя - 250 рублей.</p>
                        </div>
                        <div class="news__btn">
                            <a href="#" class="btn">назад к списку новостей </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-wrap">
            <form class="form">
                <div class="form__title">Оформить заказ</div>
                <div class="form__info">на фотопечать для оформления интерьера или использования в рекламных целях.
                    <br>
                    Наши менеджеры свяжутся с вами и помогут выбрать оптимальное решение, рассчитать стоимость заказа.
                </div>
                <div class="form__add-file">
                    <ul id="output" class="form__uploaded-file"></ul>
                    <label>
                        <input id="input-file" type="file" name="file" multiple>
                        <span class="form__clips ico">
                                <svg class="icon icon-ico_left ">
                                    <use xlink:href="img/sprite.svg#clips"></use>
                                </svg>
                            </span>
                        <span>Прикрепить фаил</span>
                    </label>

                </div>
                <div class="form__inputs">
                    <div class="form__input"><input type="text" placeholder="Имя" required name="user-name"></div>
                    <div class="form__input"><input type="email" placeholder="Почта" required name="user-email"></div>
                    <div class="form__input"><input type="tel" class="tel-mask" placeholder="Телефон" required
                                                    name="user-phone"></div>
                    <button class="btn btn--black form__btn">отправить</button>
                </div>
                <div class="form__required">
                    <span>Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных», на условиях и для целей, определенных в</span>
                    <a href="#">Согласии на обработку персональных данных.</a>
                </div>
            </form>
        </div>
    </div>
    //= parts/popups.html
    //= parts/footer.html
</div>
//= parts/footer-links.html
</body>
</html>