//= parts/head.html
  <div class="page-wrapper" id="page-wrapper">
    //= parts/header.html
    <div class="page-body" id="page-body">
        <div class="wrap-border">
            <div class="news price">
                <div class="last-news">
                    <div class="container">
                        <h1 class="detail__title">Новости</h1>
                        <div class="last-news__wrapper"><a class="last-news__item" href="#"><span class="last-news__date">24 Декабря</span>
                            <h3 class="last-news__title">График работы в праздничные дни</h3>
                            <p class="last-news__text">Новогодние праздники начнутся у нас с 31 декабря. <br>
                                В понедельник 30 декабря наши двери открыты для вас с 9:00 до 16:00.</p></a><a class="last-news__item" href="#"><span class="last-news__date">2 Июля</span>
                                <h3 class="last-news__title">Снижение цен на мобильные стенды!</h3>
                                <p class="last-news__text">У нас для вас очень приятная новость: ощутимое снижение цен на все мобильные стенды.</p></a><a class="last-news__item" href="#"><span class="last-news__date">1 Марта</span>
                            <h3 class="last-news__title">Штендеры «Бессмертный полк». Принимаем заказы!</h3>
                            <p class="last-news__text">С сегодняшнего дня вы можете оформить заказ на изготовление транспарантов ко Дню Победы.</p></a><a class="last-news__item" href="#"><span class="last-news__date">15 Ноября 2018</span>
                            <h3 class="last-news__title">Уличные аншлаги нового дизайна</h3>
                            <p class="last-news__text">Специально для вас мы разработали макет фигурного аншлага с фактурой дерева четырех разных цветов и разных размеров.</p></a><a class="last-news__item" href="#"><span class="last-news__date">6 Августа 2018</span>
                            <h3 class="last-news__title">Теперь на оргстекле!</h3>
                            <p class="last-news__text">Мы не устаем пополнять ассортимент наших материалов: с сегодняшнего дня для заказа доступна печать на прозрачном оргстекле.</p></a></div>
                        <div class="pagination">
                            <a href="#" class="pagination__item current">1</a>
                            <a href="#" class="pagination__item">2</a>
                            <a href="#" class="pagination__item">3</a>
                            <a href="#" class="pagination__item">4</a>
                            <a href="#" class="pagination__item">5</a>
                            <a href="#" class="pagination__item">...</a>
                            <a href="#" class="pagination__item">20</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-wrap">
            <form class="form">
                <div class="form__title">Оформить заказ</div>
                <div class="form__info">на фотопечать для оформления интерьера или использования в рекламных целях.
                    <br>
                    Наши менеджеры свяжутся с вами и помогут выбрать оптимальное решение, рассчитать стоимость заказа. </div>
                <div class="form__add-file">
                    <ul id="output" class="form__uploaded-file"></ul>
                    <label>
                        <input id="input-file" type="file" name="file" multiple>
                        <span class="form__clips ico">
                                <svg class="icon icon-ico_left ">
                                    <use xlink:href="img/sprite.svg#clips"></use>
                                </svg>
                            </span>
                        <span>Прикрепить фаил</span>
                    </label>

                </div>
                <div class="form__inputs">
                    <div class="form__input"><input type="text" placeholder="Имя" required name="user-name"></div>
                    <div class="form__input"><input type="email" placeholder="Почта" required name="user-email"></div>
                    <div class="form__input"><input type="tel" class="tel-mask" placeholder="Телефон" required name="user-phone"></div>
                    <button class="btn btn--black form__btn">отправить</button>
                </div>
                <div class="form__required">
                    <span>Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных», на условиях и для целей, определенных в</span> <a href="#">Согласии на обработку персональных данных.</a>
                </div>
            </form>
        </div>
    </div>
      //= parts/popups.html
    //= parts/footer.html
  </div>
//= parts/footer-links.html
</body>
</html>