//= parts/head.html
  <div class="page-wrapper" id="page-wrapper">
    //= parts/header.html
    <div class="page-body flex-wrapper" id="page-body">
        <div class="wrap-border">
            <div class="container">
                <div class="price payment__wrap">
                    <h1 class="detail__title">Онлайн-оплата</h1>
                    <div class="payment">
                        <div class="payment__title">Вы можете сделать заказ, не приходя к нам в офис.</div>
                        <div class="payment__list">
                            <span>Для этого необходимо:</span>
                            <span>1. Оформить заказ по телефону, электронной почте или через онлайн-консультант.</span>
                            <span>2. Утвердить оригинал-макет.</span>
                            <span>3. Оплатить заказ, воспользовавшись формой ниже.</span>
                        </div>
                        <div class="payment__back">
                            <a href="#">
                                <span>Инструкция по онлайн-оплате</span>
                                <svg class="icon icon-ico_right ">
                                    <use xlink:href="img/sprite.svg#ico_right"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="payment__logos">
                            <a href="#" class="payment__visa">
                                <i class="ico">
                                    <svg class="icon icon-ico-dropdown-arrow ">
                                        <use xlink:href="img/sprite.svg#visa-ico"></use>
                                    </svg>
                                </i>
                            </a>
                            <a href="#" class="payment__maestro">
                                <i class="ico">
                                    <svg class="icon icon-ico-dropdown-arrow ">
                                        <use xlink:href="img/sprite.svg#maestro-ico"></use>
                                    </svg>
                                </i>
                            </a>
                            <a href="#" class="payment__mastercard">
                                <i class="ico">
                                    <svg class="icon icon-ico-dropdown-arrow ">
                                        <use xlink:href="img/sprite.svg#mastercard-ico"></use>
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-wrap from-wrap--payment">
            <div class="container">
                <form class="form">
                    <div class="form__inputs">
                        <div class="form__input">
                            <span>№ заказа</span>
                            <input type="text" placeholder="Введите № заказа" required name="order-count">
                        </div>
                        <div class="form__input">
                            <span>Сумма</span>
                            <input type="text" placeholder="Введите сумму" required name="order-sum">
                        </div>
                        <button class="btn btn--black form__btn">проверить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
      //= parts/popups.html
    //= parts/footer.html
  </div>
//= parts/footer-links.html
</body>
</html>