//= parts/head.html
    <div class="page-wrapper" id="page-wrapper">
      //= parts/header.html
      <div class="page-body" id="page-body">
        <div class="portfolio">
          <div class="container">
            <h2>Наши работы</h2>
            <div class="portfolio__wrapper"><a class="portfolio__item" data-fancybox data-src="#portfolio1" href="javascript:;">
                <div class="portfolio__img"><img src="img/portfolio/portfolio-1.png" alt=""></div><span class="portfolio__number">54</span>
                <div class="portfolio__text">Широкоформатная<br>печать</div></a><a class="portfolio__item" data-fancybox data-src="#portfolio2" href="javascript:;">
                <div class="portfolio__img"><img src="img/portfolio/portfolio-2.png" alt=""></div><span class="portfolio__number">15</span>
                <div class="portfolio__text">интерьерная<br >печать</div></a><a class="portfolio__item" data-fancybox data-src="#portfolio1" href="javascript:;">
                <div class="portfolio__img"><img src="img/portfolio/portfolio-3.png" alt=""></div><span class="portfolio__number">46</span>
                <div class="portfolio__text">печать на пластике</div></a><a class="portfolio__item" data-fancybox data-src="#portfolio2" href="javascript:;">
                <div class="portfolio__img"><img src="img/portfolio/portfolio-4.png" alt=""></div><span class="portfolio__number">46</span>
                <div class="portfolio__text">Мобильные стенды</div></a><a class="portfolio__item" data-fancybox data-src="#portfolio1" href="javascript:;">
                <div class="portfolio__img"><img src="img/portfolio/portfolio-5.png" alt=""></div><span class="portfolio__number">6</span>
                <div class="portfolio__text">Планы эвакуации</div></a><a class="portfolio__item" data-fancybox data-src="#portfolio2" href="javascript:;">
                <div class="portfolio__img"><img src="img/portfolio/portfolio-6.png" alt=""></div><span class="portfolio__number">11</span>
                <div class="portfolio__text">фотообои</div></a><a class="portfolio__item" data-fancybox data-src="#portfolio1" href="javascript:;">
                <div class="portfolio__img"><img src="img/portfolio/portfolio-7.png" alt=""></div><span class="portfolio__number">19</span>
                <div class="portfolio__text">печать на стекле</div></a><a class="portfolio__item" data-fancybox data-src="#portfolio2" href="javascript:;">
                <div class="portfolio__img"><img src="img/portfolio/portfolio-8.png" alt=""></div><span class="portfolio__number">23</span>
                <div class="portfolio__text">печать на холсте</div></a><a class="portfolio__item" data-fancybox data-src="#portfolio2" href="javascript:;">
                <div class="portfolio__img"><img src="img/portfolio/portfolio-9.png" alt=""></div><span class="portfolio__number">69</span>
                <div class="portfolio__text">наклейки</div></a><a class="portfolio__item" data-fancybox data-src="#portfolio2" href="javascript:;">
                <div class="portfolio__img"><img src="img/portfolio/portfolio-10.png" alt=""></div><span class="portfolio__number">9</span>
                <div class="portfolio__text">флаги</div></a><a class="portfolio__item" data-fancybox data-src="#portfolio2" href="javascript:;">
                <div class="portfolio__img"><img src="img/portfolio/portfolio-11.png" alt=""></div><span class="portfolio__number">12</span>
                <div class="portfolio__text">печать на футболках</div></a><a class="portfolio__item" data-fancybox data-src="#portfolio2" href="javascript:;">
                <div class="portfolio__img"><img src="img/portfolio/portfolio-12.png" alt=""></div><span class="portfolio__number">16</span>
                <div class="portfolio__text">Печать на прочих<br>материалах</div></a></div>
          </div>
        </div>
        <div class="portfolio__popup hidden" id="portfolio1">
          <h2 class="portfolio__popup-title">Широкоформатная печать</h2>
          <div class="portfolio__popup-wrapper">
            <div class="portfolio__popup-slider js-portfolio-slider"><img src="img/portfolio/big/portfolio-1.png" alt=""><img src="img/portfolio/big/portfolio-1.png" alt=""></div>
            <div class="portfolio__popup-counter"><span class="outof"></span>/<span class="total"></span></div><a class="js-portfolio-arrows banner__arrows prev" href="#" data-slider="slickPrev">
              <svg class="icon icon-ico_left ">
                <use xlink:href="img/sprite.svg#ico_left"></use>
              </svg></a><a class="js-portfolio-arrows banner__arrows next" href="#" data-slider="slickNext">
              <svg class="icon icon-ico_right ">
                <use xlink:href="img/sprite.svg#ico_right"></use>
              </svg></a>
          </div>
          <p class="portfolio__popup-text">Подпись к фотографии. Описание проекта и что конкретно за работы.</p>
          <p class="portfolio__popup-text">Что за клиент?</p>
          <p class="portfolio__popup-text">Оборудование: Широкоформатный УФ-принтер Matan Barak HS</p>
          <p class="portfolio__popup-text">Материал: Баннер транслюцентный литой</p><a class="portfolio__popup-link" href="#">Подробнее об услуге</a>
        </div>
        <div class="portfolio__popup hidden" id="portfolio2">
          <h2 class="portfolio__popup-title">Широкоформатная печать</h2>
          <div class="portfolio__popup-wrapper">
            <div class="portfolio__popup-slider js-portfolio-slider"><img src="img/portfolio/big/portfolio-1.png" alt=""><img src="img/portfolio/big/portfolio-1.png" alt=""><img src="img/portfolio/big/portfolio-1.png" alt=""></div>
            <div class="portfolio__popup-counter"><span class="outof"></span>/<span class="total"></span></div><a class="js-portfolio-arrows banner__arrows prev" href="#" data-slider="slickPrev">
              <svg class="icon icon-ico_left ">
                <use xlink:href="img/sprite.svg#ico_left"></use>
              </svg></a><a class="js-portfolio-arrows banner__arrows next" href="#" data-slider="slickNext">
              <svg class="icon icon-ico_right ">
                <use xlink:href="img/sprite.svg#ico_right"></use>
              </svg></a>
          </div>
          <p class="portfolio__popup-text">Подпись к фотографии. Описание проекта и что конкретно за работы.</p>
          <p class="portfolio__popup-text">Что за клиент?</p>
          <p class="portfolio__popup-text">Оборудование: Широкоформатный УФ-принтер Matan Barak HS</p>
          <p class="portfolio__popup-text">Материал: Баннер транслюцентный литой</p><a class="portfolio__popup-link" href="#">Подробнее об услуге</a>
        </div>
          <div class="form-wrap">
              <form class="form">
                  <div class="form__title">Оформить заказ</div>
                  <div class="form__info">на фотопечать для оформления интерьера или использования в рекламных целях.
                      <br>
                      Наши менеджеры свяжутся с вами и помогут выбрать оптимальное решение, рассчитать стоимость заказа. </div>
                  <div class="form__add-file">
                      <ul id="output" class="form__uploaded-file"></ul>
                      <label>
                          <input id="input-file" type="file" name="file" multiple>
                          <span class="form__clips ico">
                                <svg class="icon icon-ico_left ">
                                    <use xlink:href="img/sprite.svg#clips"></use>
                                </svg>
                            </span>
                          <span>Прикрепить фаил</span>
                      </label>

                  </div>
                  <div class="form__inputs">
                      <div class="form__input"><input type="text" placeholder="Имя" required name="user-name"></div>
                      <div class="form__input"><input type="email" placeholder="Почта" required name="user-email"></div>
                      <div class="form__input"><input type="tel" class="tel-mask" placeholder="Телефон" required name="user-phone"></div>
                      <button class="btn btn--black form__btn">отправить</button>
                  </div>
                  <div class="form__required">
                      <span>Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных», на условиях и для целей, определенных в</span> <a href="#">Согласии на обработку персональных данных.</a>
                  </div>
              </form>
          </div>
      </div>
        //= parts/popups.html
      //= parts/footer.html
    </div>
//= parts/footer-links.html
</body>
</html>