//= parts/head.html
<div class="page-wrapper" id="page-wrapper">
    //= parts/header.html
    <div class="page-body" id="page-body">
        <div class="wrap-border">
            <div class="container">
                <div class="wrap">
                    <div class="left">
                        <div class="left-nav">
                            <h2 class="detail__title mobile-on">Постеры и плакаты</h2>
                            <div class="left-nav__item left-nav__item--color-1"><a href="">Широкоформатная печать</a></div>
                            <div class="left-nav__item left-nav__item--color-2 left-nav__item--has-child">
                                <a href="service.html" class="active active-parent">Интерьерная печать</a>
                                <div class="left-nav__subitem">
                                    <a href="service-2.html" class="active">Постеры и плакаты</a>
                                    <a href="">Печать на ткани</a>
                                </div>
                            </div>
                            <div class="left-nav__item left-nav__item--color-3"><a href="">Печать на пластике</a></div>
                            <div class="left-nav__item left-nav__item--color-4"><a href="">Мобильные стенды</a></div>
                            <div class="left-nav__item left-nav__item--color-5"><a href="">Планы эвакуации</a></div>
                            <div class="left-nav__item left-nav__item--color-6"><a href="">Фотообои</a></div>
                            <div class="left-nav__item left-nav__item--color-7"><a href="">Печать на стекле</a></div>
                            <div class="left-nav__item left-nav__item--color-8"><a href="">Печать на холсте</a></div>
                            <div class="left-nav__item left-nav__item--color-9"><a href="">Наклейки</a></div>
                            <div class="left-nav__item left-nav__item--color-10"><a href="">Флаги</a></div>
                            <div class="left-nav__item left-nav__item--color-11"><a href="">Футболки</a></div>
                        </div>
                        <div class="left__btn">
                            <a href="#" class="btn btn--green">прайс-лист</a>
                            <a href="#" class="btn">требования к макетам</a>
                        </div>
                    </div>
                    <div class="right detail">
                        <h1 class="detail__title">Постеры и плакаты</h1>
                        <div class="detail__slider-wrap">
                            <div class="detail__slider">
                                <a href="" class="detail__slide">
                                <span class="detail__img">
                                    <img src="img/detail/detail-img_02.jpg" alt=""></span>
                                    <span class="detail__desc">Подпись к фотографии. Описание проекта и что конкретно за работы.</span>
                                    <span class="detail__desc">Что за клиент?</span>
                                </a>
                                <a href="" class="detail__slide">
                                <span class="detail__img">
                                    <img src="img/detail/detail-img_02.jpg" alt="">
                                </span>
                                    <span class="detail__desc">Подпись к фотографии. Описание проекта и что конкретно за работы.</span>
                                    <span class="detail__desc">Что за клиент?</span>
                                </a>
                                <a href="" class="detail__slide">
                                <span class="detail__img">
                                    <img src="img/detail/detail-img_02.jpg" alt="">
                                </span>
                                    <span class="detail__desc">Подпись к фотографии. Описание проекта и что конкретно за работы.</span>
                                    <span class="detail__desc">Что за клиент?</span>
                                </a>
                            </div>
                            <a class="js-detail-arrows banner__arrows prev" href="#" data-slider="slickPrev">
                                <svg class="icon icon-ico_left ">
                                    <use xlink:href="img/sprite.svg#ico_left"></use>
                                </svg></a><a class="js-detail-arrows banner__arrows next" href="#" data-slider="slickNext">
                            <svg class="icon icon-ico_right ">
                                <use xlink:href="img/sprite.svg#ico_right"></use>
                            </svg></a>
                        </div>
                        <div class="detail__info">
                            <p>Печать постеров сегодня пользуется высоким спросом у специалистов в области рекламы и дизайнеров интерьеров. Даже не имея специальных познаний в сфере дизайна, можно заказать печать постеров на стену для интерьера своей квартиры или офиса по своему вкусу.</p>
                            <p>Специалисты компании Мэдитек изготовят для вас плакаты и постеры любого размера, исходя из особенностей интерьера и ваших личных предпочтений. При необходимости наши дизайнеры изготовят дизайн-макет или подберут картинку в каталоге изображений. Заказывая печать постеров в Мэдитек, вы можете быть уверены: цветовая передача готового плаката или постера будет полностью соответствовать изначально заложенным цветам в дизайн-макете. Высочайшее качество печати и постоянный контроль качества продукции на каждом этапе производства гарантирует отличный результат. Наши постеры станут украшением любого интерьера, оригинальной деталью оформления офиса или прекрасным подарком.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-wrap">
                <form class="form">
                    <div class="form__title">Ваш заказ успешно оформлен</div>
                    <div class="form__info">детали заказа и статус работ по заказу будут высланы вам на почту.</div>
                    <div class="form__inputs form__inputs--send">
                        <button class="btn btn--black form__btn">ОФОРМИТЬ ЕЩЕ ОДИН ЗАКАЗ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    //= parts/popups.html
    //= parts/footer.html
</div>
//= parts/footer-links.html
</body>
</html>