//= parts/head.html
<div class="page-wrapper" id="page-wrapper">
    //= parts/header.html
    <div class="page-body" id="page-body">
        <div class="wrap-border">
            <div class="container">
                <div class="wrap">
                    <div class="left">
                        <div class="left-nav">
                            <div class="left-nav__item left-nav__item--color-1"><a href="">Широкоформатная печать</a></div>
                            <div class="left-nav__item left-nav__item--color-2 left-nav__item--has-child">
                                <a href="service.html" class="active active-mobile">Интерьерная печать</a>
                                <div class="left-nav__subitem">
                                    <a href="service-2.html">Постеры и плакаты</a>
                                    <a href="">Печать на ткани</a>
                                </div>
                            </div>
                            <div class="left-nav__item left-nav__item--color-3"><a href="">Печать на пластике</a></div>
                            <div class="left-nav__item left-nav__item--color-4"><a href="">Мобильные стенды</a></div>
                            <div class="left-nav__item left-nav__item--color-5"><a href="">Планы эвакуации</a></div>
                            <div class="left-nav__item left-nav__item--color-6"><a href="">Фотообои</a></div>
                            <div class="left-nav__item left-nav__item--color-7"><a href="">Печать на стекле</a></div>
                            <div class="left-nav__item left-nav__item--color-8"><a href="">Печать на холсте</a></div>
                            <div class="left-nav__item left-nav__item--color-9"><a href="">Наклейки</a></div>
                            <div class="left-nav__item left-nav__item--color-10"><a href="">Флаги</a></div>
                            <div class="left-nav__item left-nav__item--color-11"><a href="">Футболки</a></div>
                        </div>
                        <div class="left__btn">
                            <a href="#" class="btn btn--green">прайс-лист</a>
                            <a href="#" class="btn">требования к макетам</a>
                        </div>
                    </div>
                    <div class="right detail">
                        <h1 class="detail__title">Интерьерная печать</h1>
                        <div class="detail__slider-wrap">
                            <div class="detail__slider">
                                <a href="" class="detail__slide">
                                <span class="detail__img">
                                    <img src="img/detail/detail-img_01.jpg" alt=""></span>
                                    <span class="detail__desc">Подпись к фотографии. Описание проекта и что конкретно за работы.</span>
                                    <span class="detail__desc">Что за клиент?</span>
                                </a>
                                <a href="" class="detail__slide">
                                <span class="detail__img">
                                    <img src="img/detail/detail-img_01.jpg" alt="">
                                </span>
                                    <span class="detail__desc">Подпись к фотографии. Описание проекта и что конкретно за работы.</span>
                                    <span class="detail__desc">Что за клиент?</span>
                                </a>
                                <a href="" class="detail__slide">
                                <span class="detail__img">
                                    <img src="img/detail/detail-img_01.jpg" alt="">
                                </span>
                                    <span class="detail__desc">Подпись к фотографии. Описание проекта и что конкретно за работы.</span>
                                    <span class="detail__desc">Что за клиент?</span>
                                </a>
                            </div>
                            <a class="js-detail-arrows banner__arrows prev" href="#" data-slider="slickPrev">
                                <svg class="icon icon-ico_left ">
                                    <use xlink:href="img/sprite.svg#ico_left"></use>
                                </svg></a><a class="js-detail-arrows banner__arrows next" href="#" data-slider="slickNext">
                            <svg class="icon icon-ico_right ">
                                <use xlink:href="img/sprite.svg#ico_right"></use>
                            </svg></a>
                        </div>
                        <div class="detail__info">
                            <p>Сегодня интерьерная печать широко применяется в рекламной сфере. Оформление выставочных площадей, рекламных стендов, торговых точек, развлекательных центров — все это немыслимо без качественно выполненной интерьерной печати. Интерьерная печать идеальна при печати плакатов и постеров, репродукций картин. Она позволяет декорировать жилое помещение, офис, места продаж в соответствии с пожеланиями заказчика.</p>
                            <p>Интерьерная печать имеет ряд основных требований: высокая точность нанесения рисунка и цветопередачи, устойчивость к механическим воздействиям, экологичность. Визуальный контакт осуществляется с близкого расстояния, поэтому при заказе фотопечати особое внимание необходимо уделить качеству выполнения рисунка.</p>
                            <h3>Качественную фотопечать заказать можно в компании Мэдитек:</h3>
                            <ul>
                                <li>для печати мы используем различные типы чернил: латексные и эко-сольвентные, отличающиеся устойчивостью к истиранию, к воздействию солнечного света и другим неблагоприятным факторам;
                                    латексные чернила не имеют запаха и экологически безопасны;</li>
                                <li>мы гарантируем безупречное фотографическое качество фотопечати: точность цветопередачи и высокое разрешение;</li>
                                <li>предлагаем печать индивидуальных фотографий больших размеров;</li>
                                <li>не требуется дополнительная ламинация.</li>
                            </ul>
                            <p>Мы предлагаем широкий спектр совместимых материалов для интерьерной печати: фотобумага, самоклеющиеся и полиэфирные пленки, баннерная ткань и многое другое.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-wrap">
                <form class="form">
                    <div class="form__title">Оформить заказ</div>
                    <div class="form__info">на фотопечать для оформления интерьера или использования в рекламных целях.
                        <br>
                        Наши менеджеры свяжутся с вами и помогут выбрать оптимальное решение, рассчитать стоимость заказа. </div>
                    <div class="form__add-file">
                        <ul id="output" class="form__uploaded-file"></ul>
                        <label>
                            <input id="input-file" type="file" name="file" multiple>
                            <span class="form__clips ico">
                                <svg class="icon icon-ico_left ">
                                    <use xlink:href="img/sprite.svg#clips"></use>
                                </svg>
                            </span>
                            <span>Прикрепить фаил</span>
                        </label>

                    </div>
                    <div class="form__inputs">
                        <div class="form__input"><input type="text" placeholder="Имя" required name="user-name"></div>
                        <div class="form__input"><input type="email" placeholder="Почта" required name="user-email"></div>
                        <div class="form__input"><input type="tel" class="tel-mask" placeholder="Телефон" required name="user-phone"></div>
                        <button class="btn btn--black form__btn">отправить</button>
                    </div>
                    <div class="form__required">
                        <span>Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года № 152-ФЗ «О персональных данных», на условиях и для целей, определенных в</span> <a href="#">Согласии на обработку персональных данных.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    //= parts/popups.html
    //= parts/footer.html
</div>
//= parts/footer-links.html
</body>
</html>