@charset "UTF-8";
/* reset styles
-----------------------------------------------------------------------------*/
//@import url(slick.css);
//@import url(slick-theme.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
strike, strong, tgulpt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; }

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: top; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
    content: ''; }

input:focus, textarea:focus, a:focus, button:focus, select:focus {
    outline: 0; }

ins {
    text-decoration: none; }

del, s, strike {
    text-decoration: line-through; }

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
    margin: 0; }

body.compensate-for-scrollbar {
    overflow: hidden; }

.fancybox-active {
    height: auto; }

.fancybox-is-hidden {
    left: -9999px;
    margin: 0;
    position: absolute !important;
    top: -9999px;
    visibility: hidden; }

.fancybox-container {
    -webkit-backface-visibility: hidden;
    height: 100%;
    left: 0;
    outline: none;
    position: fixed;
    -webkit-tap-highlight-color: transparent;
    top: 0;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    transform: translateZ(0);
    width: 100%;
    z-index: 99992; }

.fancybox-container * {
    box-sizing: border-box; }

.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }

.fancybox-outer {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto; }

.fancybox-bg {
    background: #1e1e1e;
    opacity: 0;
    transition-duration: inherit;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
    opacity: .9;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-caption, .fancybox-infobar, .fancybox-navigation .fancybox-button, .fancybox-toolbar {
    direction: ltr;
    opacity: 0;
    position: absolute;
    transition: opacity .25s ease,visibility 0s ease .25s;
    visibility: hidden;
    z-index: 99997; }

.fancybox-show-caption .fancybox-caption, .fancybox-show-infobar .fancybox-infobar, .fancybox-show-nav .fancybox-navigation .fancybox-button, .fancybox-show-toolbar .fancybox-toolbar {
    opacity: 1;
    transition: opacity .25s ease 0s,visibility 0s ease 0s;
    visibility: visible; }

.fancybox-infobar {
    color: #ccc;
    font-size: 13px;
    -webkit-font-smoothing: subpixel-antialiased;
    height: 44px;
    left: 0;
    line-height: 44px;
    min-width: 44px;
    mix-blend-mode: difference;
    padding: 0 10px;
    pointer-events: none;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.fancybox-toolbar {
    right: 0;
    top: 0; }

.fancybox-stage {
    direction: ltr;
    overflow: visible;
    transform: translateZ(0);
    z-index: 99994; }

.fancybox-is-open .fancybox-stage {
    overflow: hidden; }

.fancybox-slide {
    -webkit-backface-visibility: hidden;
    display: none;
    height: 100%;
    left: 0;
    outline: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 44px;
    position: absolute;
    text-align: center;
    top: 0;
    transition-property: transform,opacity;
    white-space: normal;
    width: 100%;
    z-index: 99994; }

.fancybox-slide:before {
    content: "";
    display: inline-block;
    font-size: 0;
    height: 100%;
    vertical-align: middle;
    width: 0; }

.fancybox-is-sliding .fancybox-slide, .fancybox-slide--current, .fancybox-slide--next, .fancybox-slide--previous {
    display: block; }

.fancybox-slide--image {
    overflow: hidden;
    padding: 44px 0; }

.fancybox-slide--image:before {
    display: none; }

.fancybox-slide--html {
    padding: 6px; }

.fancybox-content {
    background: #fff;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 44px;
    position: relative;
    text-align: left;
    vertical-align: middle; }

.fancybox-slide--image .fancybox-content {
    animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
    -webkit-backface-visibility: hidden;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
    max-width: none;
    overflow: visible;
    padding: 0;
    position: absolute;
    top: 0;
    -ms-transform-origin: top left;
    transform-origin: top left;
    transition-property: transform,opacity;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 99995; }

.fancybox-can-zoomOut .fancybox-content {
    cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-content {
    cursor: zoom-in; }

.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
    cursor: grab; }

.fancybox-is-grabbing .fancybox-content {
    cursor: grabbing; }

.fancybox-container [data-selectable=true] {
    cursor: text; }

.fancybox-image, .fancybox-spaceball {
    background: transparent;
    border: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none;
    padding: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%; }

.fancybox-spaceball {
    z-index: 1; }

.fancybox-slide--iframe .fancybox-content, .fancybox-slide--map .fancybox-content, .fancybox-slide--pdf .fancybox-content, .fancybox-slide--video .fancybox-content {
    height: 100%;
    overflow: visible;
    padding: 0;
    width: 100%; }

.fancybox-slide--video .fancybox-content {
    background: #000; }

.fancybox-slide--map .fancybox-content {
    background: #e5e3df; }

.fancybox-slide--iframe .fancybox-content {
    background: #fff; }

.fancybox-iframe, .fancybox-video {
    background: transparent;
    border: 0;
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%; }

.fancybox-iframe {
    left: 0;
    position: absolute;
    top: 0; }

.fancybox-error {
    background: #fff;
    cursor: default;
    max-width: 400px;
    padding: 40px;
    width: 100%; }

.fancybox-error p {
    color: #444;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0; }

.fancybox-button {
    background: rgba(30, 30, 30, 0.6);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    height: 44px;
    margin: 0;
    padding: 10px;
    position: relative;
    transition: color .2s;
    vertical-align: top;
    visibility: inherit;
    width: 44px; }

.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
    color: #ccc; }

.fancybox-button:hover {
    color: #fff; }

.fancybox-button:focus {
    outline: none; }

.fancybox-button.fancybox-focus {
    outline: 1px dotted; }

.fancybox-button[disabled], .fancybox-button[disabled]:hover {
    color: #888;
    cursor: default;
    outline: none; }

.fancybox-button div {
    height: 100%; }

.fancybox-button svg {
    display: block;
    height: 100%;
    overflow: visible;
    position: relative;
    width: 100%; }

.fancybox-button svg path {
    fill: currentColor;
    stroke-width: 0; }

.fancybox-button--fsenter svg:nth-child(2), .fancybox-button--fsexit svg:first-child, .fancybox-button--pause svg:first-child, .fancybox-button--play svg:nth-child(2) {
    display: none; }

.fancybox-progress {
    background: #ff5268;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -ms-transform-origin: 0;
    transform-origin: 0;
    transition-property: transform;
    transition-timing-function: linear;
    z-index: 99998; }

.fancybox-close-small {
    background: transparent;
    border: 0;
    border-radius: 0;
    color: #ccc;
    cursor: pointer;
    opacity: .8;
    padding: 8px;
    position: absolute;
    right: -12px;
    top: -44px;
    z-index: 401; }

.fancybox-close-small:hover {
    color: #fff;
    opacity: 1; }

.fancybox-slide--html .fancybox-close-small {
    color: currentColor;
    padding: 10px;
    right: 0;
    top: 0; }

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
    overflow: hidden; }

.fancybox-is-scaling .fancybox-close-small, .fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
    display: none; }

.fancybox-navigation .fancybox-button {
    background-clip: content-box;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: calc(50% - 50px);
    width: 70px; }

.fancybox-navigation .fancybox-button div {
    padding: 7px; }

.fancybox-navigation .fancybox-button--arrow_left {
    left: 0;
    padding: 31px 26px 31px 6px; }

.fancybox-navigation .fancybox-button--arrow_right {
    padding: 31px 6px 31px 26px;
    right: 0; }

.fancybox-caption {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, transparent);
    bottom: 0;
    color: #eee;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    line-height: 1.5;
    padding: 75px 44px 25px;
    pointer-events: none;
    right: 0;
    text-align: center;
    z-index: 99996; }

.fancybox-caption--separate {
    margin-top: -50px; }

.fancybox-caption__body {
    max-height: 50vh;
    overflow: auto;
    pointer-events: all; }

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited {
    color: #ccc;
    text-decoration: none; }

.fancybox-caption a:hover {
    color: #fff;
    text-decoration: underline; }

.fancybox-loading {
    animation: a 1s linear infinite;
    background: transparent;
    border: 4px solid #888;
    border-bottom-color: #fff;
    border-radius: 50%;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    opacity: .7;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 99999; }

@keyframes a {
    to {
        transform: rotate(1turn); } }

.fancybox-animated {
    transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

.fancybox-fx-slide.fancybox-slide--previous {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--next {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--current {
    opacity: 1;
    transform: translateZ(0); }

.fancybox-fx-fade.fancybox-slide--next, .fancybox-fx-fade.fancybox-slide--previous {
    opacity: 0;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
    opacity: 1; }

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
    opacity: 1;
    -ms-transform: scaleX(1);
    transform: scaleX(1); }

.fancybox-fx-rotate.fancybox-slide--previous {
    opacity: 0;
    -ms-transform: rotate(-1turn);
    transform: rotate(-1turn); }

.fancybox-fx-rotate.fancybox-slide--next {
    opacity: 0;
    -ms-transform: rotate(1turn);
    transform: rotate(1turn); }

.fancybox-fx-rotate.fancybox-slide--current {
    opacity: 1;
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

.fancybox-fx-circular.fancybox-slide--previous {
    opacity: 0;
    transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--next {
    opacity: 0;
    transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--current {
    opacity: 1;
    transform: scaleX(1) translateZ(0); }

.fancybox-fx-tube.fancybox-slide--previous {
    transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
    transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
    transform: translateZ(0) scale(1); }

@media (max-height: 576px) {
    .fancybox-slide {
        padding-left: 6px;
        padding-right: 6px; }
    .fancybox-slide--image {
        padding: 6px 0; }
    .fancybox-close-small {
        right: -6px; }
    .fancybox-slide--image .fancybox-close-small {
        background: #4e4e4e;
        color: #f2f4f6;
        height: 36px;
        opacity: 1;
        padding: 6px;
        right: 0;
        top: 0;
        width: 36px; }
    .fancybox-caption {
        padding-left: 12px;
        padding-right: 12px; } }

.fancybox-share {
    background: #f4f4f4;
    border-radius: 3px;
    max-width: 90%;
    padding: 30px;
    text-align: center; }

.fancybox-share h1 {
    color: #222;
    font-size: 35px;
    font-weight: 700;
    margin: 0 0 20px; }

.fancybox-share p {
    margin: 0;
    padding: 0; }

.fancybox-share__button {
    border: 0;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 5px 10px;
    min-width: 130px;
    padding: 0 15px;
    text-decoration: none;
    transition: all .2s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap; }

.fancybox-share__button:link, .fancybox-share__button:visited {
    color: #fff; }

.fancybox-share__button:hover {
    text-decoration: none; }

.fancybox-share__button--fb {
    background: #3b5998; }

.fancybox-share__button--fb:hover {
    background: #344e86; }

.fancybox-share__button--pt {
    background: #bd081d; }

.fancybox-share__button--pt:hover {
    background: #aa0719; }

.fancybox-share__button--tw {
    background: #1da1f2; }

.fancybox-share__button--tw:hover {
    background: #0d95e8; }

.fancybox-share__button svg {
    height: 25px;
    margin-right: 7px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 25px; }

.fancybox-share__button svg path {
    fill: #fff; }

.fancybox-share__input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
    border-radius: 0;
    color: #5d5b5b;
    font-size: 14px;
    margin: 10px 0 0;
    outline: none;
    padding: 10px 15px;
    width: 100%; }

.fancybox-thumbs {
    background: #ddd;
    bottom: 0;
    display: none;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 2px 2px 4px;
    position: absolute;
    right: 0;
    -webkit-tap-highlight-color: transparent;
    top: 0;
    width: 212px;
    z-index: 99995; }

.fancybox-thumbs-x {
    overflow-x: auto;
    overflow-y: hidden; }

.fancybox-show-thumbs .fancybox-thumbs {
    display: block; }

.fancybox-show-thumbs .fancybox-inner {
    right: 212px; }

.fancybox-thumbs__list {
    font-size: 0;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    position: relative;
    white-space: nowrap;
    width: 100%; }

.fancybox-thumbs-x .fancybox-thumbs__list {
    overflow: hidden; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
    width: 7px; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 10px; }

.fancybox-thumbs__list a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    float: left;
    height: 75px;
    margin: 2px;
    max-height: calc(100% - 8px);
    max-width: calc(50% - 4px);
    outline: none;
    overflow: hidden;
    padding: 0;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    width: 100px; }

.fancybox-thumbs__list a:before {
    border: 6px solid #ff5268;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 99991; }

.fancybox-thumbs__list a:focus:before {
    opacity: .5; }

.fancybox-thumbs__list a.fancybox-thumbs-active:before {
    opacity: 1; }

@media (max-width: 576px) {
    .fancybox-thumbs {
        width: 110px; }
    .fancybox-show-thumbs .fancybox-inner {
        right: 110px; }
    .fancybox-thumbs__list a {
        max-width: calc(100% - 10px); } }

* {
    box-sizing: border-box; }

img {
    border: none;
    vertical-align: top;
    max-width: 100%;
    height: auto; }

/* responsive text align
-----------------------------------------------------------------------------*/
.text-left {
    text-align: left; }

.text-right {
    text-align: right; }

.text-center {
    text-align: center; }

.text-justify {
    text-align: justify; }

.text-xs-left {
    text-align: left; }

.text-xs-right {
    text-align: right; }

.text-xs-center {
    text-align: center; }

.text-xs-justify {
    text-align: justify; }

@media (min-width: 544px) {
    .text-sm-left {
        text-align: left; }
    .text-sm-right {
        text-align: right; }
    .text-sm-center {
        text-align: center; }
    .text-sm-justify {
        text-align: justify; } }

@media (min-width: 768px) {
    .text-md-left {
        text-align: left; }
    .text-md-right {
        text-align: right; }
    .text-md-center {
        text-align: center; }
    .text-md-justify {
        text-align: justify; } }

@media (min-width: 992px) {
    .text-lg-left {
        text-align: left; }
    .text-lg-right {
        text-align: right; }
    .text-lg-center {
        text-align: center; }
    .text-lg-justify {
        text-align: justify; } }

.clearfix::after {
    content: "";
    display: table;
    clear: both; }

html {
    height: 100%; }

.no-flexbox body {
    min-height: 100%;
    height: 100%;
    display: block !important; }

.page-wrapper, .footer {
    max-width: none;
    min-width: 0;
    width: 100%;
    margin: 0 auto; }
.no-flexbox .page-wrapper, .no-flexbox .footer {
    width: auto; }

.page-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh; }
.lte-ie-11 .page-wrapper, .lt-ie-11 .page-wrapper {
    min-height: 0; }
.no-flexbox .page-wrapper {
    display: block !important;
    width: auto;
    min-height: 100%;
    height: auto !important;
    height: 100%; }

.page-body {
    -ms-flex: 1;
    flex: 1; }
.page-body.flex-none {
    -ms-flex: none;
    flex: none; }

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; }
.container::after {
    content: "";
    display: table;
    clear: both; }
@media (min-width: 544px) {
    .container {
        max-width: 100%; } }
@media (min-width: 768px) {
    .container {
        max-width: 100%; } }
@media (min-width: 992px) {
    .container {
        max-width: 940px; } }
@media (min-width: 1200px) {
    .container {
        max-width: 1114px; } }

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; }
.container-fluid::after {
    content: "";
    display: table;
    clear: both; }

.row {
    margin-left: -15px;
    margin-right: -15px; }
.row::after {
    content: "";
    display: table;
    clear: both; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left; }

.col-xs-1 {
    width: 8.33333%; }

.col-xs-2 {
    width: 16.66667%; }

.col-xs-3 {
    width: 25%; }

.col-xs-4 {
    width: 33.33333%; }

.col-xs-5 {
    width: 41.66667%; }

.col-xs-6 {
    width: 50%; }

.col-xs-7 {
    width: 58.33333%; }

.col-xs-8 {
    width: 66.66667%; }

.col-xs-9 {
    width: 75%; }

.col-xs-10 {
    width: 83.33333%; }

.col-xs-11 {
    width: 91.66667%; }

.col-xs-12 {
    width: 100%; }

.col-xs-pull-0 {
    right: auto; }

.col-xs-pull-1 {
    right: 8.33333%; }

.col-xs-pull-2 {
    right: 16.66667%; }

.col-xs-pull-3 {
    right: 25%; }

.col-xs-pull-4 {
    right: 33.33333%; }

.col-xs-pull-5 {
    right: 41.66667%; }

.col-xs-pull-6 {
    right: 50%; }

.col-xs-pull-7 {
    right: 58.33333%; }

.col-xs-pull-8 {
    right: 66.66667%; }

.col-xs-pull-9 {
    right: 75%; }

.col-xs-pull-10 {
    right: 83.33333%; }

.col-xs-pull-11 {
    right: 91.66667%; }

.col-xs-pull-12 {
    right: 100%; }

.col-xs-push-0 {
    left: auto; }

.col-xs-push-1 {
    left: 8.33333%; }

.col-xs-push-2 {
    left: 16.66667%; }

.col-xs-push-3 {
    left: 25%; }

.col-xs-push-4 {
    left: 33.33333%; }

.col-xs-push-5 {
    left: 41.66667%; }

.col-xs-push-6 {
    left: 50%; }

.col-xs-push-7 {
    left: 58.33333%; }

.col-xs-push-8 {
    left: 66.66667%; }

.col-xs-push-9 {
    left: 75%; }

.col-xs-push-10 {
    left: 83.33333%; }

.col-xs-push-11 {
    left: 91.66667%; }

.col-xs-push-12 {
    left: 100%; }

.col-xs-offset-0 {
    margin-left: 0%; }

.col-xs-offset-1 {
    margin-left: 8.33333%; }

.col-xs-offset-2 {
    margin-left: 16.66667%; }

.col-xs-offset-3 {
    margin-left: 25%; }

.col-xs-offset-4 {
    margin-left: 33.33333%; }

.col-xs-offset-5 {
    margin-left: 41.66667%; }

.col-xs-offset-6 {
    margin-left: 50%; }

.col-xs-offset-7 {
    margin-left: 58.33333%; }

.col-xs-offset-8 {
    margin-left: 66.66667%; }

.col-xs-offset-9 {
    margin-left: 75%; }

.col-xs-offset-10 {
    margin-left: 83.33333%; }

.col-xs-offset-11 {
    margin-left: 91.66667%; }

.col-xs-offset-12 {
    margin-left: 100%; }

@media (min-width: 544px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left; }
    .col-sm-1 {
        width: 8.33333%; }
    .col-sm-2 {
        width: 16.66667%; }
    .col-sm-3 {
        width: 25%; }
    .col-sm-4 {
        width: 33.33333%; }
    .col-sm-5 {
        width: 41.66667%; }
    .col-sm-6 {
        width: 50%; }
    .col-sm-7 {
        width: 58.33333%; }
    .col-sm-8 {
        width: 66.66667%; }
    .col-sm-9 {
        width: 75%; }
    .col-sm-10 {
        width: 83.33333%; }
    .col-sm-11 {
        width: 91.66667%; }
    .col-sm-12 {
        width: 100%; }
    .col-sm-pull-0 {
        right: auto; }
    .col-sm-pull-1 {
        right: 8.33333%; }
    .col-sm-pull-2 {
        right: 16.66667%; }
    .col-sm-pull-3 {
        right: 25%; }
    .col-sm-pull-4 {
        right: 33.33333%; }
    .col-sm-pull-5 {
        right: 41.66667%; }
    .col-sm-pull-6 {
        right: 50%; }
    .col-sm-pull-7 {
        right: 58.33333%; }
    .col-sm-pull-8 {
        right: 66.66667%; }
    .col-sm-pull-9 {
        right: 75%; }
    .col-sm-pull-10 {
        right: 83.33333%; }
    .col-sm-pull-11 {
        right: 91.66667%; }
    .col-sm-pull-12 {
        right: 100%; }
    .col-sm-push-0 {
        left: auto; }
    .col-sm-push-1 {
        left: 8.33333%; }
    .col-sm-push-2 {
        left: 16.66667%; }
    .col-sm-push-3 {
        left: 25%; }
    .col-sm-push-4 {
        left: 33.33333%; }
    .col-sm-push-5 {
        left: 41.66667%; }
    .col-sm-push-6 {
        left: 50%; }
    .col-sm-push-7 {
        left: 58.33333%; }
    .col-sm-push-8 {
        left: 66.66667%; }
    .col-sm-push-9 {
        left: 75%; }
    .col-sm-push-10 {
        left: 83.33333%; }
    .col-sm-push-11 {
        left: 91.66667%; }
    .col-sm-push-12 {
        left: 100%; }
    .col-sm-offset-0 {
        margin-left: 0%; }
    .col-sm-offset-1 {
        margin-left: 8.33333%; }
    .col-sm-offset-2 {
        margin-left: 16.66667%; }
    .col-sm-offset-3 {
        margin-left: 25%; }
    .col-sm-offset-4 {
        margin-left: 33.33333%; }
    .col-sm-offset-5 {
        margin-left: 41.66667%; }
    .col-sm-offset-6 {
        margin-left: 50%; }
    .col-sm-offset-7 {
        margin-left: 58.33333%; }
    .col-sm-offset-8 {
        margin-left: 66.66667%; }
    .col-sm-offset-9 {
        margin-left: 75%; }
    .col-sm-offset-10 {
        margin-left: 83.33333%; }
    .col-sm-offset-11 {
        margin-left: 91.66667%; }
    .col-sm-offset-12 {
        margin-left: 100%; } }

@media (min-width: 768px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left; }
    .col-md-1 {
        width: 8.33333%; }
    .col-md-2 {
        width: 16.66667%; }
    .col-md-3 {
        width: 25%; }
    .col-md-4 {
        width: 33.33333%; }
    .col-md-5 {
        width: 41.66667%; }
    .col-md-6 {
        width: 50%; }
    .col-md-7 {
        width: 58.33333%; }
    .col-md-8 {
        width: 66.66667%; }
    .col-md-9 {
        width: 75%; }
    .col-md-10 {
        width: 83.33333%; }
    .col-md-11 {
        width: 91.66667%; }
    .col-md-12 {
        width: 100%; }
    .col-md-pull-0 {
        right: auto; }
    .col-md-pull-1 {
        right: 8.33333%; }
    .col-md-pull-2 {
        right: 16.66667%; }
    .col-md-pull-3 {
        right: 25%; }
    .col-md-pull-4 {
        right: 33.33333%; }
    .col-md-pull-5 {
        right: 41.66667%; }
    .col-md-pull-6 {
        right: 50%; }
    .col-md-pull-7 {
        right: 58.33333%; }
    .col-md-pull-8 {
        right: 66.66667%; }
    .col-md-pull-9 {
        right: 75%; }
    .col-md-pull-10 {
        right: 83.33333%; }
    .col-md-pull-11 {
        right: 91.66667%; }
    .col-md-pull-12 {
        right: 100%; }
    .col-md-push-0 {
        left: auto; }
    .col-md-push-1 {
        left: 8.33333%; }
    .col-md-push-2 {
        left: 16.66667%; }
    .col-md-push-3 {
        left: 25%; }
    .col-md-push-4 {
        left: 33.33333%; }
    .col-md-push-5 {
        left: 41.66667%; }
    .col-md-push-6 {
        left: 50%; }
    .col-md-push-7 {
        left: 58.33333%; }
    .col-md-push-8 {
        left: 66.66667%; }
    .col-md-push-9 {
        left: 75%; }
    .col-md-push-10 {
        left: 83.33333%; }
    .col-md-push-11 {
        left: 91.66667%; }
    .col-md-push-12 {
        left: 100%; }
    .col-md-offset-0 {
        margin-left: 0%; }
    .col-md-offset-1 {
        margin-left: 8.33333%; }
    .col-md-offset-2 {
        margin-left: 16.66667%; }
    .col-md-offset-3 {
        margin-left: 25%; }
    .col-md-offset-4 {
        margin-left: 33.33333%; }
    .col-md-offset-5 {
        margin-left: 41.66667%; }
    .col-md-offset-6 {
        margin-left: 50%; }
    .col-md-offset-7 {
        margin-left: 58.33333%; }
    .col-md-offset-8 {
        margin-left: 66.66667%; }
    .col-md-offset-9 {
        margin-left: 75%; }
    .col-md-offset-10 {
        margin-left: 83.33333%; }
    .col-md-offset-11 {
        margin-left: 91.66667%; }
    .col-md-offset-12 {
        margin-left: 100%; } }

@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left; }
    .col-lg-1 {
        width: 8.33333%; }
    .col-lg-2 {
        width: 16.66667%; }
    .col-lg-3 {
        width: 25%; }
    .col-lg-4 {
        width: 33.33333%; }
    .col-lg-5 {
        width: 41.66667%; }
    .col-lg-6 {
        width: 50%; }
    .col-lg-7 {
        width: 58.33333%; }
    .col-lg-8 {
        width: 66.66667%; }
    .col-lg-9 {
        width: 75%; }
    .col-lg-10 {
        width: 83.33333%; }
    .col-lg-11 {
        width: 91.66667%; }
    .col-lg-12 {
        width: 100%; }
    .col-lg-pull-0 {
        right: auto; }
    .col-lg-pull-1 {
        right: 8.33333%; }
    .col-lg-pull-2 {
        right: 16.66667%; }
    .col-lg-pull-3 {
        right: 25%; }
    .col-lg-pull-4 {
        right: 33.33333%; }
    .col-lg-pull-5 {
        right: 41.66667%; }
    .col-lg-pull-6 {
        right: 50%; }
    .col-lg-pull-7 {
        right: 58.33333%; }
    .col-lg-pull-8 {
        right: 66.66667%; }
    .col-lg-pull-9 {
        right: 75%; }
    .col-lg-pull-10 {
        right: 83.33333%; }
    .col-lg-pull-11 {
        right: 91.66667%; }
    .col-lg-pull-12 {
        right: 100%; }
    .col-lg-push-0 {
        left: auto; }
    .col-lg-push-1 {
        left: 8.33333%; }
    .col-lg-push-2 {
        left: 16.66667%; }
    .col-lg-push-3 {
        left: 25%; }
    .col-lg-push-4 {
        left: 33.33333%; }
    .col-lg-push-5 {
        left: 41.66667%; }
    .col-lg-push-6 {
        left: 50%; }
    .col-lg-push-7 {
        left: 58.33333%; }
    .col-lg-push-8 {
        left: 66.66667%; }
    .col-lg-push-9 {
        left: 75%; }
    .col-lg-push-10 {
        left: 83.33333%; }
    .col-lg-push-11 {
        left: 91.66667%; }
    .col-lg-push-12 {
        left: 100%; }
    .col-lg-offset-0 {
        margin-left: 0%; }
    .col-lg-offset-1 {
        margin-left: 8.33333%; }
    .col-lg-offset-2 {
        margin-left: 16.66667%; }
    .col-lg-offset-3 {
        margin-left: 25%; }
    .col-lg-offset-4 {
        margin-left: 33.33333%; }
    .col-lg-offset-5 {
        margin-left: 41.66667%; }
    .col-lg-offset-6 {
        margin-left: 50%; }
    .col-lg-offset-7 {
        margin-left: 58.33333%; }
    .col-lg-offset-8 {
        margin-left: 66.66667%; }
    .col-lg-offset-9 {
        margin-left: 75%; }
    .col-lg-offset-10 {
        margin-left: 83.33333%; }
    .col-lg-offset-11 {
        margin-left: 91.66667%; }
    .col-lg-offset-12 {
        margin-left: 100%; } }

@media (min-width: 1200px) {
    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left; }
    .col-xl-1 {
        width: 8.33333%; }
    .col-xl-2 {
        width: 16.66667%; }
    .col-xl-3 {
        width: 25%; }
    .col-xl-4 {
        width: 33.33333%; }
    .col-xl-5 {
        width: 41.66667%; }
    .col-xl-6 {
        width: 50%; }
    .col-xl-7 {
        width: 58.33333%; }
    .col-xl-8 {
        width: 66.66667%; }
    .col-xl-9 {
        width: 75%; }
    .col-xl-10 {
        width: 83.33333%; }
    .col-xl-11 {
        width: 91.66667%; }
    .col-xl-12 {
        width: 100%; }
    .col-xl-pull-0 {
        right: auto; }
    .col-xl-pull-1 {
        right: 8.33333%; }
    .col-xl-pull-2 {
        right: 16.66667%; }
    .col-xl-pull-3 {
        right: 25%; }
    .col-xl-pull-4 {
        right: 33.33333%; }
    .col-xl-pull-5 {
        right: 41.66667%; }
    .col-xl-pull-6 {
        right: 50%; }
    .col-xl-pull-7 {
        right: 58.33333%; }
    .col-xl-pull-8 {
        right: 66.66667%; }
    .col-xl-pull-9 {
        right: 75%; }
    .col-xl-pull-10 {
        right: 83.33333%; }
    .col-xl-pull-11 {
        right: 91.66667%; }
    .col-xl-pull-12 {
        right: 100%; }
    .col-xl-push-0 {
        left: auto; }
    .col-xl-push-1 {
        left: 8.33333%; }
    .col-xl-push-2 {
        left: 16.66667%; }
    .col-xl-push-3 {
        left: 25%; }
    .col-xl-push-4 {
        left: 33.33333%; }
    .col-xl-push-5 {
        left: 41.66667%; }
    .col-xl-push-6 {
        left: 50%; }
    .col-xl-push-7 {
        left: 58.33333%; }
    .col-xl-push-8 {
        left: 66.66667%; }
    .col-xl-push-9 {
        left: 75%; }
    .col-xl-push-10 {
        left: 83.33333%; }
    .col-xl-push-11 {
        left: 91.66667%; }
    .col-xl-push-12 {
        left: 100%; }
    .col-xl-offset-0 {
        margin-left: 0%; }
    .col-xl-offset-1 {
        margin-left: 8.33333%; }
    .col-xl-offset-2 {
        margin-left: 16.66667%; }
    .col-xl-offset-3 {
        margin-left: 25%; }
    .col-xl-offset-4 {
        margin-left: 33.33333%; }
    .col-xl-offset-5 {
        margin-left: 41.66667%; }
    .col-xl-offset-6 {
        margin-left: 50%; }
    .col-xl-offset-7 {
        margin-left: 58.33333%; }
    .col-xl-offset-8 {
        margin-left: 66.66667%; }
    .col-xl-offset-9 {
        margin-left: 75%; }
    .col-xl-offset-10 {
        margin-left: 83.33333%; }
    .col-xl-offset-11 {
        margin-left: 91.66667%; }
    .col-xl-offset-12 {
        margin-left: 100%; } }

body {
    font-family: 'Roboto', sans-serif;
    line-height: normal; }
body.hidden {
    overflow: hidden; }

a {
    text-decoration: none; }

.ico {
    position: relative; }

svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

ul {
    list-style: none; }

.header {
    padding-bottom: 8px;
    position: relative;
    z-index: 2; }
.header__line-wrapper {
    background: #2D2B2B;
    margin-bottom: 14px; }
.header__line {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%; }
.header__line-item a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #AAAAAA;
    padding: 10px 15px; }
.header__line-item a:hover {
    color: #2D2B2B;
    background-color: #AAAAAA; }
.header__line-item.header__pay a {
    color: #439FDD; }
.header__line-item.header__pay a:hover {
    color: #2D2B2B;
    background-color: #439FDD; }
.header__line-item.header__cart i {
    display: inline-block;
    width: 17px;
    height: 24px; }
.header__line-item.header__cart svg {
    fill: #AAAAAA; }
.header__line-item.header__cart:hover svg {
    fill: #2D2B2B; }
.header__main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 8px;
    border-bottom: 1px solid #F2F2F2; }
.header__logo {
    width: 200px;
    height: 75px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
.header__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
.header__delivery {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 16px 12px 24px;
    background: #F2F2F2;
    border-radius: 2px;
    margin-right: 41px; }
.header__delivery-icon {
    width: 32px;
    height: 22px;
    margin-right: 16px; }
.header__delivery-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px; }
.header__delivery-text b {
    font-weight: 500; }
.header__tel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 39px; }
.header__tel-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%; }
.header__tel-item:not(:last-child) {
    margin-bottom: 8px; }
.header__tel-town {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2D2B2B;
    margin-right: 9px;
    min-width: 44px; }
.header__tel-number {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2D2B2B;
    margin-right: 4px; }
.header__tel-number:hover {
    text-decoration: underline; }
.header__tel-time {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2D2B2B;
    opacity: 0.5; }
.header__issue a {
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #2D2B2B;
    border: 2px solid #2D2B2B;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 17px 7px; }
.header__issue a:hover {
    background: #000000;
    color: #fff; }
.header__menu {
    padding: 0 44px; }

.menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; }
.menu__item > a {
    padding: 4px 8px;
    border-radius: 6px;
    background-color: transparent;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #2D2B2B; }
.menu__item.active a {
    color: #439FDD;
    background-color: #F2F2F2; }
.menu__item.soon {
    position: relative;
    pointer-events: none; }
.menu__item.soon > a {
    color: rgba(45, 43, 43, 0.5); }
.menu__item.soon:after {
    content: 'скоро';
    position: absolute;
    font-weight: 500;
    font-size: 8px;
    line-height: 8px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #439FDD;
    border-radius: 2px;
    padding: 2px 4px 3px;
    left: calc(100% - 5px);
    top: -2px; }
.menu__item.dropdown {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
.menu__item.dropdown i {
    display: inline-block;
    width: 6px;
    height: 7px;
    margin-left: 5px;
    transition: all 0.4s ease; }
.menu__item.dropdown i svg {
    fill: #2D2B2B; }

.submenu {
    display: none;
    position: absolute;
    width: 250px;
    top: calc(100% + 8px);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 20px 15px;
    background-color: rgba(242, 242, 242, 0.98);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top: none; }
.submenu:after {
    content: '';
    position: absolute;
    top: -8px;
    height: 8px;
    width: 100%;
    left: 0; }
.submenu__item:not(:last-child) {
    margin-bottom: 5px; }
.submenu__item a {
    display: inline-block;
    width: 100%;
    font-style: italic;
    font-size: 14px;
    line-height: 1.2;
    color: #2D2B2B;
    text-transform: none;
    font-weight: 400; }
.submenu__item a:hover {
    color: #439FDD; }

.mobile-menu {
    display: none;
    width: 48px;
    height: 48px;
    left: 16px;
    top: 62px;
    background: #F2F2F2;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 3; }
.mobile-menu svg {
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 22px;
    height: 20px;
    fill: #2D2B2B;
    transition: all 0.2s ease; }
.mobile-menu svg:nth-child(2) {
    opacity: 0; }
.mobile-menu.active svg:nth-child(1) {
    opacity: 0; }
.mobile-menu.active svg:nth-child(2) {
    opacity: 1; }

.footer__top {
    padding: 27px 0 24px;
    background-color: #2A2928; }

.footer__wrapper {
    display: -ms-flexbox;
    display: flex; }

.footer__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 72px; }

.footer__logo {
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 200px;
    height: 75px;
    margin-bottom: 35px; }

.footer__insta {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-bottom: 18px; }
.footer__insta svg {
    fill: #AAAAAA; }
.footer__insta:hover svg {
    fill: #439FDD; }

.footer__copy {
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    color: #AAAAAA; }

.footer__menu {
    display: -ms-flexbox;
    display: flex;
    margin-right: 97px;
    padding-top: 6px; }

.footer__menu-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start; }
.footer__menu-item a {
    display: inline-block;
    padding: 0 4px;
    font-size: 13px;
    line-height: 24px;
    color: #AAAAAA;
    border-radius: 6px; }
.footer__menu-item a:hover {
    background: #363534; }
.footer__menu-item:not(:last-child) {
    margin-right: 47px; }

.footer__adress {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 165px;
    padding-top: 8px; }

.footer__adress-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }
.footer__adress-item:not(:last-child) {
    margin-bottom: 23px; }

.footer__adress-row {
    display: -ms-flexbox;
    display: flex; }
.footer__adress-row:not(:last-child) {
    margin-bottom: 5px; }
.footer__adress-row b {
    display: inline-block;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF; }
.footer__adress-row span {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    color: #737375;
    margin-left: 4px; }
.footer__adress-row a:hover b {
    color: #439FDD; }

.footer__line {
    background-color: #232120; }

.footer__line-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.footer__line-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }

.footer__cards {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 58px; }

.footer__mastercard {
    width: 39px;
    height: 24px;
    margin-right: 26px; }

.footer__visa {
    width: 51px;
    height: 16px;
    margin-right: 32px; }

.footer__mir {
    width: 55px;
    height: 16px; }

.footer__pay {
    display: inline-block;
    padding: 16px 15px 18px;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #439FDD;
    margin-right: 58px; }
.footer__pay:hover {
    background-color: #439FDD;
    color: #232120; }

.footer__tree {
    width: 18px;
    height: 18px; }
.footer__tree svg {
    fill: #AAAAAA; }
.footer__tree:hover svg {
    fill: #439FDD; }

.footer__line-chat {
    position: relative;
    left: 250px; }

.slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0;
    border: 2px solid #2D2B2B;
    box-sizing: border-box;
    border-radius: 5px; }
.slick-dots li.slick-active {
    background-color: #000000; }
.slick-dots li:not(:last-child) {
    margin-right: 24px; }

.slick-dots button {
    display: none !important; }

.slick-dotted.slick-slider {
    margin-bottom: 0 !important; }

.banner {
    position: relative;
    margin-bottom: 32px; }
.banner__slider-item {
    position: relative;
    height: 400px; }
.banner__img-wrapper {
    position: relative;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    height: 100%; }
.banner__img-dec {
    width: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: #F2F2F2;
    position: relative;
    z-index: 2; }
.banner__img-dec:after {
    content: '';
    position: absolute;
    background: #F2F2F2;
    height: 100%;
    width: 100%;
    left: 85px;
    top: 0;
    -ms-transform: skew(-23deg, 0deg);
    transform: skew(-23deg, 0deg); }
.banner__img {
    position: relative;
    z-index: 1;
    width: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
.banner__img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.banner__info-wrapper {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%; }
.banner__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 532px;
    width: 100%;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 72px; }
.banner__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #2D2B2B;
    margin-bottom: 13px; }
.banner__subtitle {
    font-size: 14px;
    line-height: 20px;
    color: #2D2B2B;
    margin-bottom: 39px; }
.banner__btn {
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E5097F;
    border-radius: 6px;
    padding: 8px 18px 6px;
    border: 2px solid transparent; }
.banner__btn:hover {
    background: transparent;
    border: 2px solid #E5097F;
    color: #E5097F; }
.banner__arrows {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: all 0.2s ease; }
.banner__arrows.next {
    left: calc(50% + 606px); }
.banner__arrows.prev {
    right: calc(50% + 606px); }
.banner__arrows svg {
    width: 9px;
    height: 16px;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.banner__arrows:hover {
    box-shadow: 0 6px 20px rgba(45, 43, 43, 0.1); }
.banner .slick-dots {
    position: absolute;
    bottom: 28px; }

.services {
    margin-bottom: 12px; }
.services h2 {
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    color: #2D2B2B;
    margin-bottom: 10px; }
.services__wrapper {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
.services__wrapper:after {
    content: '';
    max-width: 256px;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden; }
.services__item {
    display: -ms-flexbox;
    display: flex;
    max-width: 256px;
    width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    transition: all 0.2s ease; }
.services__item.fake {
    height: 0;
    opacity: 0;
    overflow: hidden;
    margin: 0; }
.services__item:hover {
    box-shadow: 0 6px 20px rgba(45, 43, 43, 0.1); }
.services__img {
    width: 100%;
    height: 166px; }
.services__img img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
.services__text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 90px;
    width: 100%;
    padding: 15px; }
.services__text span {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #2D2B2B; }
.services__help {
    background: #F2F2F2;
    padding: 65px 20px 20px 20px; }
.services__help span {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #2D2B2B;
    margin-bottom: 24px; }
.services__help a {
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #2D2B2B;
    background-color: #2D2B2B;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px 16px 6px; }
.services__help a:hover {
    background-color: transparent;
    color: #2D2B2B; }

.clients h2 {
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    color: #2D2B2B; }

.clients__slider {
    pointer-events: none; }

.last-news {
    margin-bottom: 56px; }
.last-news h2 {
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    line-height: 48px;
    color: #2D2B2B;
    margin-bottom: 16px; }
.last-news__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
.last-news__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 348px;
    width: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
.last-news__item:hover h3 {
    color: #A84994; }
.last-news__date {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(45, 43, 43, 0.4);
    margin-bottom: 12px; }
.last-news__title {
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2D2B2B;
    margin-bottom: 8px; }
.last-news__text {
    font-size: 14px;
    line-height: 20px;
    color: rgba(45, 43, 43, 0.8); }

.portfolio h2 {
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #2D2B2B;
    margin-bottom: 24px; }

.portfolio__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px 20px; }

.portfolio__item {
    position: relative;
    width: 100%;
    max-width: 256px;
    margin: 0 10px 20px; }
.portfolio__item:hover .portfolio__text {
    color: #439FDD; }

.portfolio__img {
    height: 160px;
    width: 100%; }
.portfolio__img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.portfolio__number {
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: #fff;
    width: 32px;
    height: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #2D2B2B; }

.portfolio__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #2D2B2B;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    width: 100%;
    min-height: 96px; }

.portfolio__popup {
    display: none;
    max-width: 900px;
    padding: 32px 46px 40px;
    background: #F2F2F2;
    border-radius: 6px; }
.portfolio__popup.hidden {
    opacity: 0; }

.portfolio__popup-title {
    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #2D2B2B;
    margin-bottom: 28px; }

.portfolio__popup-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 8px; }
.portfolio__popup-wrapper .banner__arrows.prev {
    right: auto;
    left: -28px; }
.portfolio__popup-wrapper .banner__arrows.next {
    left: auto;
    right: -28px; }

.portfolio__popup-slider {
    height: 418px; }
.portfolio__popup-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.portfolio__popup-counter {
    position: absolute;
    bottom: 8px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #FFFFFF;
    border-radius: 16px;
    padding: 8px 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
    color: #2D2B2B;
    min-width: 69px; }

.portfolio__popup-text {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #5D5D62; }

.portfolio__popup-link {
    position: relative;
    display: inline-block;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #009FE3;
    margin-top: 24px; }
.portfolio__popup-link:hover {
    text-decoration: underline; }
.portfolio__popup-link:after {
    content: '';
    position: absolute;
    width: 13px;
    height: 8px;
    top: 50%;
    left: calc(100% + 5px);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url("../img/svg/more-arrow.svg") no-repeat center;
    background-size: contain; }

.portfolio__popup .slick-slider .slick-track,
.portfolio__popup .slick-slider .slick-list {
    height: 100% !important; }

.fancybox-button svg {
    border: 2px solid #000;
    border-radius: 50%;
    stroke-width: 2px; }

.fancybox-bg {
    background: #2D2B2B; }

.fancybox-is-open .fancybox-bg {
    opacity: .5; }

.fancybox-slide--html .fancybox-close-small {
    padding: 10px;
    right: 36px;
    top: 22px; }

@media screen and (min-width: 769px) {
    .menu__item:hover > a {
        color: #439FDD;
        background-color: #F2F2F2; }
    .menu__item.dropdown:hover {
        cursor: pointer; }
    .menu__item.dropdown:hover > .submenu {
        display: block; }
    .menu__item.dropdown:hover svg {
        fill: #439FDD; }
    .menu__item.dropdown:hover i {
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg); }
    .menu__item.dropdown.active {
        color: #439FDD;
        background-color: #F2F2F2; }
    .menu__item.dropdown.active > .submenu {
        display: block; }
    .menu__item.dropdown.active svg {
        fill: #439FDD; }
    .menu__item.dropdown.active i {
        -ms-transform: rotate(180deg);
        transform: rotate(180deg); } }

@media screen and (max-width: 1600px) {
    .footer__line-chat {
        left: auto; } }

@media screen and (max-width: 1400px) {
    .banner__arrows {
        -ms-transform: translateY(0);
        transform: translateY(0); }
    .banner__arrows.next {
        left: auto;
        right: 15px; }
    .banner__arrows.prev {
        right: auto;
        left: 15px; } }

@media screen and (max-width: 1200px) {
    .header__info {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center; }
    .header__issue {
        margin-top: 15px; }
    .header__tel-item:not(:last-child) {
        margin-bottom: 5px; }
    .header__delivery {
        margin-right: 30px; }
    .header__tel {
        margin-right: 0; }
    .header__menu {
        padding: 0; }
    .banner__arrows {
        width: 40px;
        height: 40px; }
    .services__item {
        max-width: calc(33.3% - 15px); }
    .last-news__wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .last-news__item {
        max-width: 32%; }
    .footer__cards {
        margin-right: 20px; }
    .footer__pay {
        margin-right: 20px; }
    .footer__wrapper {
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%; }
    .footer__info {
        margin-right: 30px; }
    .footer__menu-item:not(:last-child) {
        margin-right: 30px; }
    .footer__menu {
        margin-right: 30px;
        padding-top: 0; }
    .footer__adress {
        max-width: 135px;
        padding-top: 0; }
    .portfolio__item {
        max-width: calc(33.3% - 20px); }
    .portfolio__popup-wrapper .banner__arrows {
        width: 56px;
        height: 56px; } }

@media screen and (max-width: 991px) {
    .header__delivery {
        margin-right: 15px;
        margin-bottom: 10px; }
    .header__issue {
        margin-top: 10px;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center; }
    .menu__item > a {
        font-size: 13px; }
    .menu__item.soon:after {
        left: calc(100% - 25px);
        top: -5px; }
    .banner__arrows {
        display: none; }
    .banner__info-wrapper {
        max-width: 50%; }
    .banner__title {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 15px; }
    .last-news__wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .last-news__item {
        max-width: calc(50% - 15px);
        margin-bottom: 30px; }
    .footer__adress {
        display: none; }
    .footer__line-chat {
        display: none; }
    .portfolio__popup-wrapper .banner__arrows {
        display: -ms-flexbox;
        display: flex; }
    .portfolio__popup {
        max-width: 100%; }
    .portfolio__popup-slider {
        height: auto; } }

@media screen and (max-width: 768px) {
    .mobile-menu {
        display: block; }
    .header__delivery {
        margin-right: 0; }
    .menu {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        position: absolute;
        left: 0;
        top: 44px;
        background: #F2F2F2;
        width: 100%;
        height: calc(100vh - 44px);
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 110px 31px 15px 31px;
        transition: all 0.25s ease;
        -ms-transform: translateX(-100%);
        transform: translateX(-100%); }
    .menu.active {
        -ms-transform: translateX(0);
        transform: translateX(0); }
    .menu__item > a {
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #2D2B2B;
        padding: 0;
        background-color: transparent;
        border-radius: 6px; }
    .menu__item:not(:last-child) {
        margin-bottom: 37px; }
    .menu__item.soon:after {
        font-size: 10px;
        padding: 5px 6px 4px;
        left: calc(100% + 5px);
        top: -8px; }
    .submenu {
        display: none;
        position: static;
        width: 100%;
        top: auto;
        left: auto;
        -ms-transform: translateX(0);
        transform: translateX(0);
        padding: 20px 0 0 0;
        background-color: rgba(242, 242, 242, 0.98);
        box-shadow: none;
        border: none; }
    .menu__item.dropdown {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .submenu__item a {
        width: 100%;
        font-size: 18px;
        line-height: 16px; }
    .menu__item.dropdown.open > .submenu {
        display: block; }
    .menu__item.dropdown.open i {
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg); }
    .submenu__item:not(:last-child) {
        margin-bottom: 24px; }
    .menu.active {
        overflow: scroll; }
    .banner__img {
        display: none; }
    .banner__img-dec {
        width: 100%; }
    .banner__img-dec:after {
        display: none; }
    .banner__info-wrapper {
        max-width: 100%; }
    .banner__info {
        padding-top: 72px;
        max-width: 100%;
        text-align: center;
        -ms-flex-align: center;
        align-items: center; }
    .banner__subtitle {
        width: 100%;
        margin-bottom: 32px; }
    .header__main {
        padding-bottom: 16px;
        margin-bottom: 0;
        border-bottom: none; }
    .services__img img {
        object-fit: cover; }
    .services__item {
        max-width: calc(50% - 10px); }
    .banner {
        margin-bottom: 16px; }
    .services h2 {
        text-align: center; }
    .clients h2 {
        text-align: center; }
    .services {
        margin-bottom: 0; }
    .last-news__item {
        max-width: 100%;
        margin-bottom: 30px; }
    .last-news h2 {
        text-align: center; }
    .footer__menu {
        display: none; }
    .footer__info {
        margin-right: 0; }
    .footer__wrapper {
        -ms-flex-pack: center;
        justify-content: center; }
    .footer__info {
        -ms-flex-align: center;
        align-items: center; }
    .footer__line-info {
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%; }
    .footer__mastercard {
        margin-right: 20px; }
    .footer__visa {
        margin-right: 20px; }
    .footer__cards {
        margin-right: 10px; }
    .footer__pay {
        margin-right: 10px; }
    .portfolio__item {
        max-width: calc(50% - 20px); }
    .portfolio h2 {
        text-align: center; }
    .portfolio__popup {
        padding: 75px 16px 48px; }
    .portfolio__popup-title {
        text-align: center; }
    .fancybox-slide--html .fancybox-close-small {
        right: auto;
        left: 50%;
        top: 24px;
        -ms-transform: translate(-50%);
        transform: translate(-50%); }
    .portfolio__popup-wrapper {
        margin-bottom: 79px; }
    .portfolio__popup-wrapper .banner__arrows.next {
        right: 0; }
    .portfolio__popup-wrapper .banner__arrows.prev {
        left: 0; }
    .portfolio__popup-wrapper .banner__arrows {
        top: calc(100% + 8px); }
    .portfolio__popup-counter {
        bottom: auto;
        top: calc(100% + 19px); } }

@media screen and (max-width: 543px) {
    .header__delivery {
        display: none; }
    .header__line-wrapper {
        margin-bottom: 12px; }
    .header__main {
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header__info {
        padding-top: 8px; }
    .header__tel {
        -ms-flex-direction: row;
        flex-direction: row; }
    .header__tel-item {
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-direction: column;
        flex-direction: column; }
    .header__tel-item:not(:last-child) {
        margin-right: 33px; }
    .banner__title {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 13px; }
    .banner__slider-item {
        height: auto;
        min-height: 400px; }
    .banner__img-dec {
        min-height: 400px; }
    .services__item {
        max-width: 256px;
        margin-bottom: 0; }
    .services__item:not(:last-child) {
        margin-bottom: 16px; }
    .services__wrapper {
        -ms-flex-pack: center;
        justify-content: center; }
    .services {
        margin-bottom: 20px; }
    .clients {
        display: none; }
    .last-news {
        display: none; }
    .footer__line {
        display: none; }
    .portfolio__item {
        max-width: 256px; }
    .portfolio__wrapper {
        -ms-flex-pack: center;
        justify-content: center; } }

@media screen and (max-width: 420px) {
    .header__line-wrapper .container {
        padding: 0; }
    .header__line-item a {
        padding: 10px 14px; }
    .header__line {
        -ms-flex-pack: justify;
        justify-content: space-between; }
    .menu__item:not(:last-child) {
        margin-bottom: 25px; }
    .submenu__item:not(:last-child) {
        margin-bottom: 15px; }
    .menu {
        padding: 77px 31px 15px 31px; }
    .banner__info {
        padding-top: 40px; } }

@media screen and (max-width: 370px) {
    .header__line-item a {
        font-size: 12px; } }

@media screen and (max-width: 350px) {
    .header__tel-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px; }
    .header__tel {
        -ms-flex-direction: column;
        flex-direction: column; }
    .header__tel-item {
        -ms-flex-align: center;
        align-items: center; }
    .header__tel-town {
        margin-right: 0;
        min-width: auto;
        text-align: center; }
    .header__line-wrapper {
        margin-bottom: 35px; } }


/* dev-2 */

.btn {display: inline-block;font-weight: 700;font-size: 13px;line-height: 22px;letter-spacing: .04em;text-transform: uppercase;color: #2d2b2b;box-sizing: border-box;border-radius: 6px;padding: 8px 17px 7px;background-color: #F2F2F2;border: 2px solid #F2F2F2;transition: background-color .3s;
    &--green {background-color: #9ADB8A;border-color: #9ADB8A;color: #fff;}
    &--black {background-color: #2d2b2b;border-color: #2d2b2b;color: #fff;text-align: center;
        &:hover {background-color: #fff;color: #2d2b2b;}
    }
}

.wrap {margin: 28px 0 22px;display: flex;
    &-border {border-top: 1px solid #F2F2F2;}
}

.left {margin: 0 0 0 -9px;max-width: 250px;min-width: 250px;
    &__btn {margin: 0 9px;
        .btn {margin-bottom: 15px;
            &:last-child {margin-bottom: 0;}
        }
    }
}

.left-nav {margin-bottom: 38px;
    &__item {
        a {font-size: 14px;font-style: italic;line-height: 1.142;color: #2D2B2B;display: inline-block;padding: 5px 10px 6px;transition: background-color .3s, color .3s;border-radius: 6px;margin-bottom: 2px;}
        &--has-child {margin-bottom: 4px;}
        .active-parent {color: #2D2B2B!important;background-color: #EBF8E7!important;}
        &--color-1 {
            a.active {background-color: #ED7C48;color: #fff;
              &:hover {background-color: #ED7C48;color: #fff;}
            }
            a:hover {background-color: #ED7C48;color: #fff;}
        }
        &--color-2 {
            a.active {background-color: #9ADB8A;color: #fff;
                &:hover {background-color: #9ADB8A;color: #fff;}
            }
            a:hover {background-color: #9ADB8A;color: #fff;}
        }
        &--color-3 {
            a.active {background-color: #3074CE;color: #fff;
                &:hover {background-color: #3074CE;color: #fff;}
            }
            a:hover {background-color: #3074CE;color: #fff;}
        }
        &--color-4 {
            a.active {background-color: #78E3BA;color: #fff;
                &:hover {background-color: #78E3BA;color: #fff;}
            }
            a:hover {background-color: #78E3BA;color: #fff;}
        }
        &--color-5 {
            a.active {background-color: #7153DE;color: #fff;
                &:hover {background-color: #7153DE;color: #fff;}
            }
            a:hover {background-color: #7153DE;color: #fff;}
        }
        &--color-6 {
            a.active {background-color: #DE6264;color: #fff;
                &:hover {background-color: #DE6264;color: #fff;}
            }
            a:hover {background-color: #DE6264;color: #fff;}
        }
        &--color-7 {
            a.active {background-color: #BEE352;color: #fff;
                &:hover {background-color: #BEE352;color: #fff;}
            }
            a:hover {background-color: #BEE352;color: #fff;}
        }
        &--color-8 {
            a.active {background-color: #F8CC46;color: #fff;
                &:hover {background-color: #F8CC46;color: #fff;}
            }
            a:hover {background-color: #F8CC46;color: #fff;}
        }
        &--color-9 {
            a.active {background-color: #3E98FF;color: #fff;
                &:hover {background-color: #3E98FF;color: #fff;}
            }
            a:hover {background-color: #3E98FF;color: #fff;}
        }
        &--color-10 {
            a.active {background-color: #DD5CC5;color: #fff;
                &:hover {background-color: #DD5CC5;color: #fff;}
            }
            a:hover {background-color: #DD5CC5;color: #fff;}
        }
        &--color-11 {
            a.active {background-color: #27BC86;color: #fff;
                &:hover {background-color: #27BC86;color: #fff;}
            }
            a:hover {background-color: #27BC86;color: #fff;}
        }
    }
    &__subitem {margin-left: 22px;padding-left: 9px;position: relative;
        &:before {content: '';position: absolute;width: 3px;border-radius: 3px;background-color: #9ADB8A;top: 0;bottom: 8px;left: 0;}
        a {color: #828282;display: inline-block;
            &:hover {background-color: transparent;color: #2D2B2B;}
        }
    }
}

.detail {display: flex;flex-direction: column;width: calc(100% - 241px);padding-left: 36px;
    &__title {font-size: 28px;line-height: 1;margin: 5px 0;font-style: italic;}
    &__slider {
        &-wrap {margin: 14px 0 0;position: relative;
            .banner__arrows {transform: translateY(0);
                &.next {right: -28px;left: auto;}
                &.prev {left: -28px;right: auto;}
            }
        }

        .slick-dots {bottom: 84px;}
    }
    &__slide {color: #5D5D62;font-size: 14px;padding-bottom: 5px;background-color: #F2F2F2;border-radius: 0 0 3px 3px;}
    &__img {display: block;padding-bottom: 10px;}
    &__desc {display: block;padding: 0 20px 5px;}
    &__info {color: #5D5D62;margin: 5px 0;
        p {font-size: 14px;line-height: 1.72;margin: 20px 0;}
        h3 {font-size: 18px;line-height: 1.33;font-weight: 400;margin: 27px 0 20px;}
        ul {font-size: 14px;line-height: 1.72;padding-left: 91px;
            li {position: relative;margin-bottom: 12px;
                &:before {content: '';width: 5px;height: 5px;background-color: #5D5D62;border-radius: 50%;position: absolute;top: 10px;left: -25px;}
            }
        }
    }
}

.form {max-width: 756px;margin: 0 auto;
    &-wrap {background-color: #F2F2F2;padding: 18px 0 38px;min-height: 287px;}
    &__title {font-size: 24px;line-height: 1.67;text-align: center;font-weight: 500;color: #2D2B2B;margin-bottom: 4px;}
    &__info {font-size: 14px;line-height: 1.28;text-align: center;color: #5D5D62;}
    &__add-file {font-size: 13px;line-height: 1.69;color: #2D2B2B;text-transform: uppercase;letter-spacing: .04em;display: flex;justify-content: center;padding: 12px 0;flex-direction: column;align-items: center;
        label {cursor: pointer;display: flex;align-items: center;}
        input {display: none;}
    }
    &__clips {width: 17px;height: 19px;display: inline-block;margin-right: 8px;min-width: 17px;min-height: 19px;
        &-del {position: relative;width: 15px;height: 15px;cursor: pointer;margin-left: 5px;
            &:before {position: absolute;content: '';width: 13px;height: 2px;border-radius: 3px;background-color: #2d2b2b;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(-45deg)}
            &:after {position: absolute;content: '';width: 13px;height: 2px;border-radius: 3px;background-color: #2d2b2b;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(45deg)}
        }
    }
    &__uploaded-file {font-size: 13px;line-height: 1.69;font-weight: 500;text-align: center;}
    &__uploaded-item {display: flex;align-items: center;justify-content: center;position: relative;}
    &__uploaded-size {margin-left: 5px;}
    &__inputs {display: flex;justify-content: center;margin: 5px 0;
        &--send {margin-top: 73px;}
    }
    &__input {width: 100%;margin-right: 12px;position: relative;
        label {position: absolute;bottom: -13px;left: 0;right: 0;font-size: 9px;line-height: 1.55;color: #EB001B;}
    }
    input {padding: 12px 15px 12px;border-radius: 6px;font-size: 13px;color: #2A2928;letter-spacing: .04em;font-style: italic;font-weight: 500;border: 1px solid #fff;width: 100%;
        &::placeholder {color: #5D5D62;font-weight: 400;}
        &.error {border: 1px solid #FFA4AE;color: #EB001B;
            &::placeholder {color: #FFA4AE;}
        }
    }
    &__required {font-size: 12px;line-height: 1.33;color: #5D5D62;font-style: italic;margin-top: 17px;
        a {color: #5D5D62;text-decoration: underline;}
    }
}

.mobile {
    &-on {display: none;}
}

.price {margin: 34px 0 48px;
    &__tabs {display: flex;flex-wrap: wrap;margin: 22px 0;}
    &__tab {display: inline-block;font-size: 13px;line-height: 1.83;letter-spacing: .04em;padding: 10px 20px 8px;text-transform: uppercase;color: #2D2B2B;background-color: #F2F2F2;border-radius: 6px;transition: color .3s, background-color .3s;margin: 0 16px 16px 0;
        &.active {color: #fff;background-color: #9ADB8A;}
    }
    &__detail {margin-bottom: 40px;display: none;
        &.active {display: block;}
    }
    &__box {display: flex;justify-content: space-between;align-items: flex-start;}
    &__title {font-size: 20px;line-height: 1.2;font-weight: 500;color: #5D5D62;margin: 23px 0;padding: 0 5px;}
    &__table {
        &-wrap {width: calc(100% - 256px);padding-right: 20px;position: relative;
            &:before {content: '';display: block;top: 0;bottom: 0;right: 0;width: 70px;opacity: .3;position: absolute;z-index: 1;background: rgb(2,0,36);
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 0%, rgba(255,255,255,0.14889705882352944) 0%, rgba(255,255,255,1) 75%);}
        }
        &-row {display: flex;padding: 0 16px 0 12px;width: 808px;
            &:nth-child(odd) {background-color: #F4F9FD;}
            &:first-child {background-color: #9ADB8A;border-radius: 6px 6px 0 0;color: #fff;letter-spacing: .04em;}
        }
        &-col {padding: 10px 8px 9px;font-size: 13px;line-height: 1.69;width: 19%;text-align: right;
            &:first-child {width: 70%;text-align: left;}
            &:nth-child(2) {width: 47%;}
        }
        &-desc {line-height: 1.428;font-size: 14px;color: #5D5D62;font-style: italic;margin: 33px 6px 26px;}

    }
    &__discount {background: #F2F2F2;border-radius: 6px;width: 256px;min-width: 256px;display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 24px 16px;
        &-percent {color: #fff;font-size: 123px;line-height: 90px;cursor: default;}
        &-info {font-size: 16px;line-height: 1.5;color: #5D5D62;margin: 15px 0;text-align: center;}
        &-btn {margin: 7px 0 16px;}
    }
    &__services {margin: 0 -10px;color: #5D5D62;display: flex;flex-wrap: wrap;
        &-item {width: calc(33.33% - 20px);margin: 0 10px 20px;background-color: #fff;box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);padding: 20px 20px 20px 24px;}
        &-title {line-height: 1.33;font-size: 18px;margin-bottom: 16px;}
        &-list-item {line-height: 1.3;font-size: 14px;padding-left: 25px;position: relative;margin-bottom: 18px;
            &:before {position: absolute;content: '';width: 5px;height: 5px;border-radius: 50%;top: 9px;left: 0;background: #5D5D62;}
            &:last-child {margin-bottom: 0;}
            span {display: inline-block;}
        }
    }
    &__bottom {font-size: 14px;line-height: 1.43;color: #5D5D62;font-style: italic;margin: 19px 6px;}
}

.popup {max-width: 900px;background: #F2F2F2;border-radius: 6px;position: relative;padding: 50px 72px 40px 92px;
    input {-moz-appearance: none;-webkit-appearance: none;appearance: none;}
    &-wrap {display: none;}
    &__title {font-style: italic;font-weight: 700;font-size: 28px;line-height: 1;color: #2D2B2B;margin-bottom: 23px;}
    &__row {display: flex;}
    &__col {width: 50%;}
    &__inputs {display: flex;flex-direction: column;
        &--full {flex-direction: row;flex-wrap: wrap;
            .popup {
            &__input {width: 50%;}
        }
        }
    }
    &__input {margin-bottom: 11px;position: relative;
        span {display: block;font-size: 13px;line-height: 1.38;letter-spacing: .04em;color: #5D5D62;margin-bottom: 2px;}
        input {font-style: italic;color: #5D5D62;font-size: 13px;line-height: 1.69;padding:9px 16px 8px;background-color: #fff;border-radius: 6px;border: 1px solid #fff;width: 256px;
            &::placeholder {color: #B8B8BC;}
            &.error {border-color: #ffa4ae;color: #eb001b;
                &::placeholder {color: #ffa4ae;}
            }
        }
        textarea {background-color: #fff;border-radius: 6px;resize: none;border: none;font-style: italic;color: #5D5D62;font-size: 13px;line-height: 1.4;padding: 10px 16px 8px;width: 256px;height: 96px;
            &::placeholder {color: #B8B8BC;}
        }
        label.error {position: absolute;bottom: -13px;left: 0;right: 0;font-size: 9px;line-height: 1.55;color: #eb001b;}
    }
    &__checkbox {display: flex;align-items: center;margin-bottom: 11px;cursor: pointer;position: relative;
        input {width: 22px;height: 22px;min-width: 22px;background-color: #fff;border-radius: 6px;transition: background-color .3s;cursor: pointer;
            &:checked {background-color: #439FDD;
                & + span {
                    &:before {position: absolute;content: '';width: 8px;height: 3.5px;background-color: #fff;border-radius: 2px;transform: rotate(43deg);left: 3px;top: 11px;}
                    &:after {position: absolute;content: '';width: 12px;height: 3.5px;background-color: #fff;border-radius: 2px;transform: rotate(137deg);left: 6px;top: 10px;}
                }
            }
        }
        span {font-size: 14px;line-height: 1.714;color: #5D5D62;margin-left: 17px;}
        &-field {display: flex;flex-direction: column;}
        &-title {font-size: 18px;color: #5D5D62;line-height: 1.33;margin-bottom: 18px;}
    }
    .fancybox-close-small {padding: 8px;right: 32px;top: 40px;}
    &__info {font-size: 14px;line-height: 1.428;color: #5D5D62;font-style: italic;margin: 15px 0;
        a {color: #5D5D62;border-bottom: 1px solid #B8B8BC;padding-bottom: 3px;}
    }
    &__btn {text-align: center;margin: 25px 0 0 -10px;}
    .form__add-file {align-items: flex-start;padding: 10px 15px 10px 0;}
}

.contacts {
    &__row {display: flex;justify-content: space-between;margin: -7px -10px 27px;flex-wrap: wrap;}
    &__item {margin: 0 10px;width: calc(100% / 4 - 20px);}
    &__title {font-size: 18px;font-style: italic;font-weight: 700;line-height: 1.33;color: #2D2B2B;margin-bottom: 17px;}
    &__name {font-size: 18px;line-height: 1.33;color: #5D5D62;
        a {color: #5D5D62;text-decoration: none;}
    }
    &__email {font-style: italic;border-bottom: 1px solid #B8B8BC;padding-bottom: 2px;}

}

.about {
    &__content {margin-top: -6px;
        h4 {color: #5D5D62;line-height: 1.33;font-size: 18px;font-weight: 400;margin-bottom: 19px;}
        p {color: #5D5D62;line-height: 1.72;font-size: 14px;margin-bottom: 28px;}
        h3 {font-weight: 700;font-size: 24px;line-height: 1.17;font-style: italic;color: #2D2B2B;margin: 31px 0 23px;}
    }
    &__history {max-width: 808px;}
    &__print {margin-top: -15px;}
    &__tech {display: flex;padding: 16px 35px 18px;box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);background-color: #fff;margin-bottom: 16px;
        &-img {width: 277px;max-width: 277px;min-width: 277px;
            img {width: 100%;object-fit: contain;}
        }
        &-info {width: 100%;color: #5D5D62;padding-left: 56px;}
        &-title {font-size: 18px;line-height: 1.33;font-weight: 400;margin: 8px 0;}
        &-list {padding-left: 24px;margin: 14px 0;}
        &-item {font-size: 14px;line-height: 1.71;position: relative;margin-bottom: 13px;
            &:before {position: absolute;content: '';width: 5px;height: 5px;background-color: #5D5D62;border-radius: 50%;left: -25px;top: 8px;}
        }
    }
    &__clients {display: flex;flex-wrap: wrap;margin: 0 -10px;
        &-item {width: calc(100% / 6 - 20px);margin: 10px;padding: 17px;background-color: #fff;box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
            img {width: 100%;height: 100%;display: block;}
        }
    }
}

.news {margin-bottom: 36px;
    .last-news {margin-bottom: 36px;
        &__wrapper {flex-direction: column;margin: 40px 0 12px;}
        &__item {max-width: 808px;margin-bottom: 26px;}
        &__title {font-size: 18px;margin-bottom: 12px;}
        &__date {margin-bottom: 6px;}
        &__text {line-height: 23px;}
        &__img {margin: 12px 0 25px;
            img {width: 100%;display: block;}
        }
    }
    &__detail {max-width: 808px;margin: 32px 0 24px;
        .last-news {
            &__text {margin-bottom: 27px;
                &:last-child {margin-bottom: 24px;}
            }
        }
    }
}

.pagination {display: flex;margin: 12px -14px 0;flex-wrap: wrap;
    &__item {width: 40px;height: 40px;border-radius: 50%;color: #2D2B2B;display: flex;justify-content: center;align-items: center;font-size: 18px;line-height: 24px;font-weight: 700;font-style: italic;margin: 0 14px 12px;transition: background-color .3s, color .3s;
        &.current {background: #A84994;color: #fff;}
        &:hover {background: #A84994;color: #fff;}
    }
}

.from-wrap--payment {min-height: auto;padding: 34px 0 43px;
    .form {margin: 0;max-width: 672px;
        &__inputs {align-items: flex-end;
            span {font-size: 13px;line-height: 18px;letter-spacing: 0.04em;color: #5D5D62;}
        }
        &__input {margin-right: 20px;}
    }
}

.payment {font-size: 14px;line-height: 1.72;color: #5D5D62;margin: 23px 0 8px;
    &__title {margin-bottom: 23px;}
    &__list {
        span {display: block;}
    }
    &__back {font-weight: 700;color: #2D2B2B;font-style: italic;font-size: 18px;line-height: 1.33;position: relative;margin: 25px 0 16px;
        a {color: #2D2B2B;position: relative;
            &:after {position: absolute;content: '';display: inline-block;height: 2px;right: -25px;width: 15px;background-color: #000;top: 10px;}
        }
        svg {width: 9px;left: auto;right: -27px;}
    }
    &__logos {display: flex;
        a {display: flex;align-items: center;justify-content: center;margin-right: 20px;}
    }
    &__visa {
        i {width: 72px;height: 72px;display: block;}
    }
    &__maestro {
        i {width: 39px;display: block;height: 24px;}
    }
    &__mastercard {
        i {width: 39px;display: block;height: 24px;}
    }
    &__wrap {margin-bottom: 0;}
}

.flex-wrapper {display: flex;flex-direction: column;justify-content: space-between;}

.page-404 {
    &__title {color: #5D5D62;font-size: 14px;line-height: 1.71;margin: 32px 0 20px;}
    &__list {margin: 14px 0;padding-left: 24px;color: #5D5D62;}
    &__item {position: relative;font-size: 14px;line-height: 1.71;margin-bottom: 13px;
        &:before {position: absolute;content: '';width: 5px;height: 5px;background-color: #5d5d62;border-radius: 50%;left: -25px;top: 8px;}
    }
    &__btn {margin: 48px 0;display: flex;flex-wrap: wrap;
        a {margin-right: 20px;margin-bottom: 20px;
            &:last-child {margin-right: 0;}
        }
    }
}

.map {width: 100%;height: 407px;}
.mCSB_scrollTools {opacity: 1;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {height: 8px;background-color: #2D2B2B!important;border-radius: 4px;opacity: 1!important;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {height: 8px;margin: 6px 0;border-radius: 4px;background-color: #F2F2F2!important;opacity: 1!important;}
.mCSB_horizontal.mCSB_inside>.mCSB_container {margin-bottom: 34px;}

@media screen and (max-width: 992px) {
    .left {min-width: 230px;max-width: 230px;}
    .detail {width: calc(100% - 221px);padding-left: 10px;}
    .price {
        &__services {
            &-item {width: calc(50% - 20px)}
        }
    }
    .contacts {
        &__item {width: calc(100% / 2 - 20px);margin: 0 10px 20px;}
    }
    .about {
        &__clients {
            &-item {width: calc(100% / 5 - 20px);}
        }
    }
}
@media screen and (max-width: 768px) {
    .btn {
        &--black {min-width: 240px;font-size: 16px;line-height: 1.375;padding: 11px 17px;}
        &--grey {min-width: 240px;font-size: 16px;line-height: 1.375;padding: 11px 17px;}
    }
    .wrap {flex-direction: column;margin: 11px 0;}
    .left {width: 100%;max-width: none;min-width: auto;margin: 0;}
    .detail {width: 100%;padding-left: 0;
        &__slider {
            .slick-dots {bottom: -32px;}
            &-wrap {margin-top: 9px;margin-bottom: 30px;}
        }
        &__title {display: none;text-align: center;margin-bottom: 23px;font-style: italic;}
        &__info {
            p {font-size: 16px;line-height: 1.625;margin: 25px 0;}
            h3 {font-size: 20px;line-height: 1.5;margin: 31px 0 16px;}
            ul {padding-left: 27px;font-size: 16px;line-height: 1.625;
                li {margin-bottom: 16px;}
            }
        }
    }
    .left {
        &-nav {margin-bottom: 32px;
            &__item {display: none;
                &--has-child {display: block;}
                .active-mobile {background-color: transparent!important;width: 100%;text-align: center;font-size: 28px;line-height: 1;color: #2D2B2B!important;margin-bottom: 18px;
                    &:hover {background-color: transparent!important;color: #2D2B2B !important;}
                }
            }
            &__subitem {display: flex;flex-direction: column;align-items: flex-start;

            }
        }
        &__btn {margin: 0;
            .btn {
                &:first-child {margin-right: 4px;}
                &:last-child {margin-bottom: 15px;}
            }
        }
    }
    .form {
        &__info {font-size: 12px;line-height: 1.333;padding: 0 25px;}
        &__add-file {padding: 18px 15px;}
        &__inputs {flex-direction: column;padding: 0 15px;align-items: center;}
        &__input {margin-right: 0;margin-bottom: 12px;max-width: 327px;}
        input {font-size: 16px;line-height: 1.375;padding: 14px 15px 10px 23px;
            &::placeholder {font-size: 16px;line-height: 1.375;}
        }
        &__btn {margin-top: 14px;}
        &__required {line-height: 1.35;margin-top: 19px;padding: 0 15px;}
        &-wrap {
            &--payment {
                .form {
                    &__inputs {align-items: center;}
                }
            }
        }
    }
    .mobile {
        &-on {display: block;}
    }
    .price {margin: 16px 0 40px;
        .detail__title {display: block;}
        &__tabs {flex-direction: column;margin: 0;padding: 0 9px;position: absolute;top: 0;left: 0;right: 0;background-color: #fff;z-index: 1;
            &.opened {padding-bottom: 15px;
                a {display: block;}
            }
        }
        &__tab {margin-right: 0;display: none;margin-bottom: 5px;
            &.active {display: block;box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.03);border: 2px solid #9ADB8A;background-color: #fff;color: #5D5D62;font-size: 16px;line-height: 1.375;font-style: italic;text-transform: none;padding: 11px 20px;order: -1;}
            &-open {position: absolute;right: 0;top: 0;width: 100%;height: 48px;cursor: pointer;
                &:before {content:'';border-left: 4px solid transparent;border-right: 4px solid transparent;border-bottom: 7px solid #2D2B2B;position: absolute;width: 0;height: 0;right: 25px;top: 22px;transform: rotate(180deg);border-radius: 20px;}
            }
        }
        &__title {padding: 0;line-height: 1.5;}
        &__content {position: relative;padding-top: 58px;}
        &__box {flex-direction: column;}
        &__table {min-width: 100%;overflow: auto;
            &-wrap {width: calc(100% + 15px);padding-right: 0;margin-right: -15px;position: relative;
            }
            &-desc {margin: 22px 0 26px;line-height: 1.44;}
        }
        &__discount {width: 100%;margin-bottom: 9px;
            &-percent {font-size: 60px;line-height: 42px;}
            &-info {margin: 15px;}
            &-btn {margin: 1px 0 8px;}
        }
        &__services {
            &-item {width: 100%;padding: 18px 20px 29px 24px;}
        }
    }
    .fancybox-slide--html {padding: 0;}
    .popup {padding: 69px 24px 36px;
        .fancybox-close-small {right: auto;top: 9px;}
        &__title {text-align: center;line-height: 1.15;}
        &__row {flex-direction: column;}
        &__col {width: 100%;}
        &__input {margin-bottom: 18px;
            span {font-size: 16px;line-height: 1.125;margin-bottom: 8px;}
            input {width: 100%;font-size: 16px;line-height: 1.375;padding: 12px 23px;
                &::placeholder {color: #B8B8BC;}
            }
            textarea {width: 100%;font-size: 16px;line-height: 1.7;padding: 12px 23px;height: 168px;
                &::placeholder {color: #B8B8BC;}
            }
        }
        &__checkbox {
            &-field {margin-top: 10px;}
        }
        &__info {font-size: 12px;line-height: 1.4;margin: 20px -9px;
            a {padding-bottom: 0;}
        }
        &__btn {margin-left: 0;margin-top: 20px;}
        &__bottom {display: flex;flex-direction: column-reverse;}
        &__inputs {
            &--full {
                .popup__input {width: 100%;}
            }
        }
    }
    .contacts {
        &__row {margin: 14px -10px -5px;}
        &__item {width: 100%;margin: 0 10px 33px;}
    }
    .map {margin: 0 -15px;width: calc(100% + 30px);}
    .about {
        &__content {margin-top: 22px;}
        &__tech {flex-direction: column;padding: 16px 21px 13px;align-items: center;
            &-info {padding-left: 0;margin-top: 10px;}
            &-title {margin: 7px 0;}
            &-item {line-height: 1.29;margin-bottom: 19px;}
        }
        &__print {margin-top: -9px;}
        &__clients {
            &-item {width: calc(100% / 4 - 20px);}
        }
    }
    .from-wrap--payment {
        .form {
            &__inputs {align-items: center;}
            &__input {margin-right: 0;}
        }
    }
    .page-404 {
        &__btn {}
    }
}

@media screen and (max-width: 543px) {
    .news {
        .last-news {display: block;}
    }
}

@media screen and (max-width: 533px) {
    .about {
        &__clients {margin: 0 -7px;justify-content: space-between;
            &-item {width: calc(100% / 3 - 15px);margin: 7px;}
        }
    }
}
@media screen and (max-width: 400px) {
    .about {
        &__clients {margin: 0 -7px;justify-content: space-between;
            &-item {width: calc(100% / 2 - 15px);margin: 7px;}
        }
    }
}